<div class="sidebar" data-background-color="brown" data-active-color="info">
  <div class="logo">
    <a href="#" class="simple-text logo-mini">
      <img src="/static/assets/images/PICTO.png" width="50" alt="Mstaff" style="margin: -25%">
    </a>
    <a href="#" class="simple-text logo-normal">
      <img style="height:40px; width:auto;" src="/static/assets/images/logo-blanc-mstaff.png" alt="mstaff">
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      {{#ifCond user.type '===' 'candidate'}}
        {{> candidate/sidebar-menu}}
      {{/ifCond}}
      {{#ifCond user.type '===' 'es'}}
        {{> es/sidebar-menu}}
      {{/ifCond}}
    </ul>
  </div>
</div>
