@import "lib/reset.css";
@import "lib/grid.min.css";
a {
  text-decoration: none;
}

i {
  margin-right: 0.5em;
}

h1, h2, h3, h4, h5, h6, p, a, div, span {
  font-family: "Muli", Verdana, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

body, a {
  color: #000000;
}

.button {
  display: inline-block;
  padding: 1.5rem 0.5rem;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
}
.button.button-blue {
  background-color: #03a9de;
}
.button.button-green {
  background-color: #0ecea4;
}
.button.button-pink {
  background-color: #e91e63;
}
.button.button-fluid {
  display: block;
}

.card {
  padding: 2rem;
  border: 1px solid #cdcdcd;
}
.card .card__body .card__body__title {
  font-size: 1.25em;
}
.card .card__body p {
  color: #696969;
}
.banner-info-card {
  background-color: #262626;
  color: #ffffff;
}
.banner-info-card .banner-info-card__header {
  padding: 3rem 0;
  text-align: center;
}
.banner-info-card .banner-info-card__header .banner-info-card__header__image {
  display: inline-block;
  width: 40%;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
}
.banner-info-card .banner-info-card__header .banner-info-card__header__image + * {
  margin-top: 1rem;
}
.banner-info-card .banner-info-card__header .banner-info-card__header__title {
  font-size: 1.5em;
}
.banner-info-card .banner-info-card__header .banner-info-card__header__title + .banner-info-card__header__title__baseline {
  margin-top: 0.5rem;
}
.banner-info-card .banner-info-card__header .banner-info-card__header__title__baseline {
  display: block;
  font-size: 0.75em;
  font-weight: normal;
  color: #cdcdcd;
}
.banner-info-card .banner-info-card__header .banner-info-card__header__title__baseline + .banner-info-card__header__title {
  margin-top: 0.5rem;
}
.banner-info-card .banner-info-card__body {
  padding: 0 2rem 1px 2rem;
  margin-top: 2rem;
}
.banner-info-card .banner-info-card__body .banner-info-card__body__title {
  font-size: 1.25em;
}
.banner-info-card .banner-info-card__body > * + * {
  margin-top: 1.5rem;
}
.banner-info-card .banner-info-card__body > * + *:last-child {
  margin-bottom: 2rem;
}
.banner-info-card .banner-info-card__body .button:last-child {
  margin: 2rem 0;
}

.content-type-text > * + * {
  margin-top: 1.5rem;
}
.content-type-text > * + *:last-child {
  margin-bottom: 1.5rem;
}

.image-ratio {
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
}
.image-ratio.image-ratio-10 {
  padding-bottom: 10%;
}
.image-ratio.image-ratio-20 {
  padding-bottom: 20%;
}
.image-ratio.image-ratio-30 {
  padding-bottom: 30%;
}
.image-ratio.image-ratio-40 {
  padding-bottom: 40%;
}
.image-ratio.image-ratio-50 {
  padding-bottom: 50%;
}
.image-ratio.image-ratio-60 {
  padding-bottom: 60%;
}
.image-ratio.image-ratio-70 {
  padding-bottom: 70%;
}
.image-ratio.image-ratio-80 {
  padding-bottom: 80%;
}
.image-ratio.image-ratio-90 {
  padding-bottom: 90%;
}
.image-ratio.image-ratio-100 {
  padding-bottom: 100%;
}

.map-container {
  position: fixed;
  left: 50%;
  top: 0;
  bottom: 0;
  right: 0;
}
.map-container > div {
  width: 100%;
  height: 100%;
}

.tag {
  display: inline-block;
  padding: 0.5rem;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.75em;
  color: #ffffff;
  font-weight: bold;
}
.tag.tag-blue {
  background-color: #03a9de;
}
.tag.tag-green {
  background-color: #0ecea4;
}
.tag.tag-pink {
  background-color: #e91e63;
}
.tag.tag-fluid {
  display: block;
}

.title {
  font-weight: bold;
}
.title.title-page {
  font-size: 1.5em;
}

.baseline span {
  font-weight: bold;
}
.baseline.baseline-page {
  font-size: 1.5em;
  color: #03a9de;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
