$backgroundColorDark:#262626;
$backgroundColorLight:#333333;

$borderColorLight:#cdcdcd;

$fontColorLight:#ffffff;
$fontColorLightFade:#cdcdcd;
$fontColorDark:#1e1e1e;
$fontColorDarkFade:#696969;

$mainColorBlue:#03a9de;
$mainColorGreen:#0ecea4;
$mainColorPink:#e91e63;

@import "lib/reset.css";
@import "lib/grid.min.css";

@import "global/base";
@import "global/fonts";

@import "layout/content-type";
@import "layout/layout";

@import "components/buttons";
@import "components/cards";
@import "components/image";
@import "components/map";
@import "components/tags";
@import "components/titles";