<!DOCTYPE html>
<html lang="fr-FR">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Mstaff – Gérez vos candidatures simplement</title>
        <link rel="dns-prefetch" href="http://fonts.googleapis.com/">
        <link rel="dns-prefetch" href="http://s.w.org/">

        <link rel="stylesheet" id="cookie-law-info-css" href="/static/assets/cookie-law-info-public.css" type="text/css" media="all">
        <link rel="stylesheet" id="cookie-law-info-gdpr-css" href="/static/assets/cookie-law-info-gdpr.css" type="text/css" media="all">
        <link rel="stylesheet" id="thesaas-fonts-css" href="/static/assets/css" type="text/css" media="all">
        <link rel="stylesheet" id="thesaas-core-css" href="/static/assets/core.min.css" type="text/css" media="all">
        <link rel="stylesheet" id="elementor-frontend-css" href="/static/assets/frontend.min.css" type="text/css" media="all">
        <link rel="stylesheet" id="thesaas-page-css" href="/static/assets/page.min.css" type="text/css" media="all">
        <link rel="stylesheet" id="elementor-icons-css" href="/static/assets/elementor-icons.min.css" type="text/css" media="all">
        <link rel="stylesheet" id="font-awesome-css" href="/static/assets/font-awesome.min.css" type="text/css" media="all">
        <link rel="stylesheet" id="elementor-animations-css" href="/static/assets/animations.min.css" type="text/css" media="all">
        <link rel="stylesheet" id="elementor-post-2-css" href="/static/assets/post-2.css" type="text/css" media="all">

        <script type="text/javascript" src="/static/assets/jquery.js.download"></script>
        <script type="text/javascript" src="/static/assets/jquery-migrate.min.js.download"></script>
        <script type="text/javascript" src="/static/assets/cookie-law-info-public.js.download"></script>

        <link rel="icon" href="http://www.mstaff.co/wp-content/uploads/2018/10/PICTO.png" sizes="32x32">
        <link rel="icon" href="http://www.mstaff.co/wp-content/uploads/2018/10/PICTO.png" sizes="192x192">
        <link rel="apple-touch-icon-precomposed" href="http://www.mstaff.co/wp-content/uploads/2018/10/PICTO.png">
        <meta name="msapplication-TileImage" content="http://www.mstaff.co/wp-content/uploads/2018/10/PICTO.png">
    </head>

    <body class="home page-template-default page page-id-2 thesaas-front-page  elementor-default elementor-page elementor-page-2 body-scrolled"
          data-aos-easing="ease" data-aos-duration="1500" data-aos-delay="0">

        <nav class="topbar topbar-inverse topbar-expand-md topbar-sticky">
            <div class="container">

                <div class="topbar-left">
                    <button class="topbar-toggler">☰</button>
                    <a class="topbar-brand" href="http://www.mstaff.co/">
                        <img src="/static/assets/LOGO_WEB_118_PX.png" alt="Mstaff" class="logo-default">
                        <span class="brand-title logo-inverse">Mstaff</span>
                    </a>
                </div>

                <div class="topbar-right">
                    <ul id="menu-mstaff" class="topbar-nav nav"><li id="nav-menu-item-42" class="nav-item"><a class="nav-link  menu-item-type-custom menu-item-object-custom" href="http://www.mstaff.co/#demo" data-scrollto="demo">Demandez votre démo</a></li><li id="nav-menu-item-49" class="nav-item"><a class="nav-link  menu-item-type-custom menu-item-object-custom" href="https://app.mstaff.co/inscription/interne">Rejoindre mon établissement</a></li><li id="nav-menu-item-50" class="nav-item"><a class="nav-link  menu-item-type-custom menu-item-object-custom" href="https://app.mstaff.co/inscription/externe">Postuler gratuitement</a></li><li id="nav-menu-item-46" class="nav-item"><a class="nav-link  menu-item-type-custom menu-item-object-custom menu-item-has-children" href="http://www.mstaff.co/#">Se connecter <i class="fa fa-caret-down"></i></a><div class="nav-submenu depth-0">
                        <a class="nav-link  menu-item-type-custom menu-item-object-custom" href="https://app.mstaff.co/login">Espace RH</a><a class="nav-link  menu-item-type-custom menu-item-object-custom" href="http://app.mstaff.co/login">Espace Candidat</a></div>
                    </li>
                    </ul>
                </div>
            </div>
        </nav>
        <main class="main-content">
            <div class="elementor elementor-2">
                <div class="elementor-inner">
                    <div class="elementor-section-wrap">
                        <section data-id="dllyfya" class="elementor-element elementor-element-dllyfya elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-default">
                                <div class="elementor-row">
                                    <div data-id="gsjkqck" class="elementor-element elementor-element-gsjkqck elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
                                        <div class="elementor-column-wrap elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div data-id="squizqf" class="elementor-element elementor-element-squizqf elementor-widget elementor-widget-the-cover" data-element_type="the-cover.default">
                                                    <div class="elementor-widget-container">
                                                        <header class="header  header-inverse h-fullscreen overflow-hidden" style="background-image: linear-gradient(to top, #03a9de 0%, #03a9de 100%); padding-top: 120px; padding-bottom: 0px;" id="bienvenue">
                                                            <div class="container text-center">
                                                                <div class="row h-full hidden-sm-down">
                                                                    <div class="col-12 col-lg-8 offset-lg-2 align-self-center pt-150">
                                                                        <h1 class="display-4">Hôpitaux, Cliniques, EPHAD …</h1>
                                                                        <br>
                                                                        <p class="lead fs-20">Mstaff vous accompagne dans la gestion de vos candidatures.</p>
                                                                    </div>
                                                                    <div class="col-12 align-self-end text-center">
                                                                        <img src="/static/assets/mstaff-lp.png" alt="Hôpitaux, Cliniques, EPHAD ..."
                                                                             data-aos="fade-up" data-aos-offset="0" class="aos-init aos-animate">
                                                                    </div>
                                                                </div>
                                                                <div class="row h-full hidden-md-up">
                                                                    <div class="col-12 col-lg-8 offset-lg-2 align-self-center">
                                                                        <h1>Hôpitaux, Cliniques, EPHAD …</h1>
                                                                        <br>
                                                                        <p class="text-white fs-15">Mstaff vous accompagne dans la gestion de vos candidatures.</p>
                                                                    </div>
                                                                    <div class="col-12 align-self-end text-center">
                                                                        <img src="/static/assets/mstaff-lp.png"
                                                                             alt="Hôpitaux, Cliniques, EPHAD ..." data-aos="fade-up"
                                                                             data-aos-offset="0" class="aos-init aos-animate">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </header>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section data-id="voleuet" class="elementor-element elementor-element-voleuet elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-default">
                                <div class="elementor-row">
                                    <div data-id="itzodwf" class="elementor-element elementor-element-itzodwf elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
                                        <div class="elementor-column-wrap elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div data-id="nfsuryc" class="elementor-element elementor-element-nfsuryc elementor-widget elementor-widget-the-feature" data-element_type="the-feature.default">
                                                    <div class="elementor-widget-container">
                                                        <section id="besoin" class="section overflow-hidden   ">
                                                            <div class="container">
                                                                <div class="row">
                                                                    <div class="col-12 col-md-6 align-self-center text-center text-md-left">
                                                                        <h2>Exprimez votre besoin simplement</h2><br>
                                                                        <p>De la clinique parisienne aux CHU, Mstaff accompagne aujourd’hui des dizaines de DRH, RH et chargés de recrutement dans leur gestion de candidatures. Accédez à l’ensemble des candidats intéressés pour travailler dans votre établissement grâce à la Cvthèque dématérialisée. Vérifiez la disponibilité des profils en un coup d’oeil, notifiez-les en 1 clic, fini les heures perdues sur les CV papier !</p>
                                                                        <br>
                                                                        <a class="btn  btn-lg   btn-round btn-primary" href="https://calendly.com/mstaff/demo" target="_blank">
                                                                            Demandez votre demo
                                                                        </a>
                                                                    </div>
                                                                    <div class="col-12 offset-md-1 col-md-5 text-center mt-40">
                                                                        <img class="shadow-3 aos-init" src="/static/assets/profil.png" alt="Exprimez votre besoin simplement" data-aos="fade-up">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </section>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section data-id="dohpixm" class="elementor-element elementor-element-dohpixm elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-default">
                                <div class="elementor-row">
                                    <div data-id="cnjfcip" class="elementor-element elementor-element-cnjfcip elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
                                        <div class="elementor-column-wrap elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div data-id="gxtqnuz" class="elementor-element elementor-element-gxtqnuz elementor-widget elementor-widget-the-feature" data-element_type="the-feature.default">
                                                    <div class="elementor-widget-container">
                                                        <section id="offre" class="section pb-0 bg-gray  ">
                                                            <div class="container">

                                                                <div class="row">

                                                                    <div class="col-12 col-md-6 text-center align-self-center">
                                                                        <img class="shadow-3 mr-40" src="/static/assets/offre.png" alt="Publiez Vos Offres Rapidement">
                                                                    </div>

                                                                    <div class="col-12 col-md-6 align-self-center pb-70">
                                                                        <h3>Publiez Vos Offres Rapidement</h3>
                                                                        <p>Rédigez une offre en quelques clics directement depuis Mstaff. Publiez-la sur votre site internet. Vous pouvez même la partager sur vos réseaux sociaux via un lien unique.</p>

                                                                        <br><br>

                                                                        <div class="flexbox flex-grow-all gap-items-3">
                                                                            <div>
                                                                                <p><i class="ti-face-smile fs-30" style="color: #e91e63"></i></p>
                                                                                <h5>Accessible à tous</h5>
                                                                                <p>Pas besoin d’être un informaticien et de solliciter votre chargé de com’ ou prestataire pour publier une offre d’emploi sur le site internet de votre établissement. Faites-le vous même, facilement et en quelques minutes !</p>
                                                                            </div>
                                                                            <div>
                                                                                <p><i class="ti-unlink fs-30" style="color: #0ecea4"></i></p>
                                                                                <h5>Démarche zéro papier</h5>
                                                                                <p>Votre temps est précieux. Ne le gaspillez pas dans le tri des CV papier et des candidatures reçues sur votre boîte mail. Centralisez les profils sur un seul et unique tableau de bord. </p>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </section>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section data-id="kvgpmou" class="elementor-element elementor-element-kvgpmou elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-default">
                                <div class="elementor-row">
                                    <div data-id="jjevbgv" class="elementor-element elementor-element-jjevbgv elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
                                        <div class="elementor-column-wrap elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div data-id="lahmfpd" class="elementor-element elementor-element-lahmfpd elementor-widget elementor-widget-the-feature" data-element_type="the-feature.default">
                                                    <div class="elementor-widget-container">
                                                        <section id="video" class="section overflow-hidden   ">
                                                            <div class="container">
                                                                <header class="section-header">
                                                                    <small>Video</small>
                                                                    <h2>Pourquoi choisir notre plateforme ?</h2>
                                                                    <hr>
                                                                    <p class="lead">1 minute pour vous montrer de quelle manière nous accompagnons les établissements.</p>
                                                                </header>
                                                                <div class="row">
                                                                    <div class="offset-md-2 col-md-8">
                                                                        <div class="video-btn-wrapper aos-init" data-aos="fade-up">
                                                                            <img class="shadow-2 rounded" src="/static/assets/mstaff-lp3.png" alt="Pourquoi choisir notre plateforme ?">
                                                                            <a class="btn btn-circular btn-lg btn-primary" href="https://vimeo.com/253762093" data-provide="lightbox"><i class="fa fa-play"></i></a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </section>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section data-id="ggjjcti" class="elementor-element elementor-element-ggjjcti elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-default">
                                <div class="elementor-row">
                                    <div data-id="qvmgnvm" class="elementor-element elementor-element-qvmgnvm elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
                                        <div class="elementor-column-wrap elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div data-id="gsynhrz" class="elementor-element elementor-element-gsynhrz elementor-widget elementor-widget-the-cta" data-element_type="the-cta.default">
                                                    <div class="elementor-widget-container">
                                                        <section id="demo" class="section text-center py-150 bg-gray  ">
                                                            <div class="container">
                                                                <header class="section-header">
                                                                    <small>Plateforme SaaS</small>

                                                                    <h2 class="fs-50">Sans Déploiement. Sans Téléchargement. Conforme RGPD.</h2>
                                                                    <hr>
                                                                    <p class="lead">Mstaff est la seule solution RH Santé qui ne nécessite ni déploiement ni téléchargement. Mstaff est en conformité avec le RGPD et offre une technologie de gestion des candidatures alignée avec les standards de sécurité en vigueur.</p>
                                                                </header>
                                                                <p class="text-center">
                                                                    <a class="btn  btn-lg    btn-primary" href="https://mstaff.typeform.com/to/Z3v5Uk" style="min-width: 250px" target="_blank">
                                                                        RH, Directeurs de pôle, Cadres, demandez votre démo</a>
                                                                    <br>
                                                                    <small></small>
                                                                </p>
                                                            </div>
                                                        </section>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section data-id="46qxfk0" class="elementor-element elementor-element-46qxfk0 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-default">
                                <div class="elementor-row">
                                    <div data-id="zuoewun" class="elementor-element elementor-element-zuoewun elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
                                        <div class="elementor-column-wrap elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div data-id="z53kluy" class="elementor-element elementor-element-z53kluy elementor-widget elementor-widget-the-partner" data-element_type="the-partner.default">
                                                    <div class="elementor-widget-container">
                                                        <section id="partenaires" class="section">
                                                            <div class="container">
                                                                <header class="section-header">
                                                                    <h2>Vous êtes en bonne compagnie.</h2>
                                                                    <hr>
                                                                    <p class="lead">Des dizaines de recruteurs et DRH nous font déjà confiance.</p>
                                                                </header>
                                                                <div class="partner">
                                                                    <img src="/static/assets/chu-reunion.png" alt="image">
                                                                    <img src="/static/assets/clinifutur.png" alt="image">
                                                                    <img src="/static/assets/aphp.png" alt="image">
                                                                </div>
                                                            </div>
                                                        </section>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </main>
        <!-- END Main container -->

        <!-- Footer -->
        <footer class="site-footer">
            <div class="container">
                <div class="row gap-y align-items-center">
                    <div class="col-12 col-lg-3">
                        <p class="text-center text-lg-left">
                            <a href="http://www.mstaff.co/"><img src="/static/assets/LOGO_WEB_118_PX.png" alt="Mstaff"></a>
                        </p>
                    </div>
                    <div class="col-12 col-lg-6">
                        <ul id="menu-footer" class="nav nav-inline nav-primary nav-hero justify-content-center"><li id="menu-item-75" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-75"><a href="http://mstaff.co/CGU_02.06.2018.pdf">Politique de Confidentialité</a></li>
                            <li id="menu-item-73" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-73"><a href="http://mstaff.co/CGU_02.06.2018.pdf">Conditions Générales d’Utilisation</a></li>
                            <li id="menu-item-74" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-74"><a href="http://mstaff.co/CGV_02.06.2018.pdf">Conditions Générales de Vente</a></li>
                        </ul>
                    </div>
                    <div class="col-12 col-lg-3">
                        <div class="social text-center text-lg-right">
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- END Footer -->
        <div id="cookie-law-info-bar" style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-family: inherit; bottom: 0px; position: fixed; display: block;"><span>Ce site utilise des cookies pour vous offrir le meilleur service. En poursuivant votre navigation, vous acceptez l’utilisation des cookies.<a href="http://www.mstaff.co/#" data-cli_action="accept" id="cookie_action_close_header" class="medium cli-plugin-button cli-plugin-main-button cookie_action_close_header cli_action_button" style="color: rgb(255, 255, 255); background-color: rgb(0, 0, 0);">Accepter</a> <a href="http://mstaff.co/CGU_02.06.2018.pdf" id="CONSTANT_OPEN_URL" target="_blank" class="cli-plugin-main-link" style="color: rgb(68, 68, 68);">En savoir plus</a></span></div><div class="cli-modal-backdrop cli-fade cli-settings-overlay"></div>
        <div class="cli-modal-backdrop cli-fade cli-popupbar-overlay"></div>
        <script type="text/javascript">
            //<![CDATA[
            cli_cookiebar_settings='{"animate_speed_hide":"500","animate_speed_show":"500","background":"#FFF","border":"#b1a6a6c2","border_on":false,"button_1_button_colour":"#000","button_1_button_hover":"#000000","button_1_link_colour":"#fff","button_1_as_button":true,"button_1_new_win":false,"button_2_button_colour":"#333","button_2_button_hover":"#292929","button_2_link_colour":"#444","button_2_as_button":false,"button_3_button_colour":"#000","button_3_button_hover":"#000000","button_3_link_colour":"#fff","button_3_as_button":true,"button_3_new_win":false,"button_4_button_colour":"#000","button_4_button_hover":"#000000","button_4_link_colour":"#fff","button_4_as_button":true,"font_family":"inherit","header_fix":false,"notify_animate_hide":true,"notify_animate_show":false,"notify_div_id":"#cookie-law-info-bar","notify_position_horizontal":"right","notify_position_vertical":"bottom","scroll_close":false,"scroll_close_reload":false,"accept_close_reload":false,"reject_close_reload":false,"showagain_tab":false,"showagain_background":"#fff","showagain_border":"#000","showagain_div_id":"#cookie-law-info-again","showagain_x_position":"100px","text":"#000","show_once_yn":false,"show_once":"10000","logging_on":false,"as_popup":false,"popup_overlay":true,"bar_heading_text":""}';
            //]]>
        </script>
        <script type="text/javascript" src="/static/assets/page.min.js.download"></script>
        <script type="text/javascript" src="/static/assets/wp-embed.min.js.download"></script>
        <script type="text/javascript" src="/static/assets/waypoints.min.js.download"></script>
        <script type="text/javascript" src="/static/assets/frontend.min.js.download"></script>
    </body>
</html>