.button{
	display:inline-block;
	padding:1.5rem;
	text-align:center;
	text-transform:uppercase;
	color:$fontColorLight;

	&.button-blue{
		background-color:$mainColorBlue;
	}
	&.button-green{
		background-color:$mainColorGreen;
	}
	&.button-pink{
		background-color:$mainColorPink;
	}

	&.button-fluid{
		display:block;
	}

}