.banner-info-card{
	background-color:$backgroundColorDark;
	color:$fontColorLight;

	.banner-info-card__header{
		padding:3rem 0;
		text-align:center;

		.banner-info-card__header__image{
			display:inline-block;
			width:40%;
			-webkit-border-radius:999px;
			-moz-border-radius:999px;
			border-radius:999px;
		}
		.banner-info-card__header__title{
			margin-top:1rem;
			font-size:1.5em;
		}
	}
	.banner-info-card__body{
		padding:0 2rem 1px 2rem;
		margin-top:2rem;

		& > * + *{
			margin-top:1rem;

			&:last-child{
				margin-bottom:2rem;
			}
		}

		.button:last-child{
			margin:2rem 0;
		}
	}
}