.card{
	padding:2rem;
	border:1px solid $borderColorLight;

	.card__thumbnail-container{

	}
	.card__body{
		.card__body__title{
			font-size:1.25em;
		}
		p{
			color:$fontColorDarkFade;
		}
	}
	.card__footer{

	}
}

.banner-info-card{
	background-color:$backgroundColorDark;
	color:$fontColorLight;

	.banner-info-card__header{
		padding:3rem 0;
		text-align:center;

		.banner-info-card__header__image{
			display:inline-block;
			width:40%;
			-webkit-border-radius:999px;
			-moz-border-radius:999px;
			border-radius:999px;

			& + *{
				margin-top:1rem;
			}
		}
		.banner-info-card__header__title{
			font-size:1.5em;

			& + .banner-info-card__header__title__baseline{
				margin-top:.5rem;
			}
		}
		.banner-info-card__header__title__baseline{
			display:block;
			font-size:.75em;
			font-weight:normal;
			color:$fontColorLightFade;

			& + .banner-info-card__header__title{
				margin-top:.5rem;
			}
		}
	}
	.banner-info-card__body{
		padding:0 2rem 1px 2rem;
		margin-top:2rem;

		.banner-info-card__body__title{
			font-size:1.25em;
		}

		& > * + *{
			margin-top:1.5rem;

			&:last-child{
				margin-bottom:2rem;
			}
		}

		.button:last-child{
			margin:2rem 0;
		}
	}
}