.tag{
	display:inline-block;
	padding:.5rem;
	-webkit-border-radius:999px;
	-moz-border-radius:999px;
	border-radius:999px;
	text-align:center;
	text-transform:uppercase;
	font-size:.75em;
	color:$fontColorLight;
	font-weight:bold;

	&.tag-blue{
		background-color:$mainColorBlue;
	}
	&.tag-green{
		background-color:$mainColorGreen;
	}
	&.tag-pink{
		background-color:$mainColorPink;
	}

	&.tag-fluid{
		display:block;
	}

}