<div class="modal-body">
  <form role="form" class="form-horizontal">
    <div class="row">
      <div class="col-md-12">
        <div class="modal-body">
          <div class="col-md-12">
            <select class="form-control" name="contractType" id="contractType">
              <option value="">Séléctionner un type de contrat</option>
              <option value="cdi-cdd">CDI/CDD</option>
              <option value="vacation">VACATION</option>
              <option value="internship">STAGE</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default pull-left"
          data-dismiss="modal" onclick="need.firstSearch = false;searchCandidates();">Ignorer</button>
</div>
<script>
  $('select#contractType').on('change', function() {
    if (this.value === '') {
      $('select#contractType').addClass('error');
      return false;
    }
    $('select#contractType').removeClass('error').addClass('success');
    need.filterQuery.contractType = this.value;

    if (need.filterQuery.contractType !== 'vacation') {
      delete need.filterQuery.timeType;
    }

    $('.modal#contractType').modal('hide');
    $('#btnContractType').html($('#contractType option:selected').text());

    if (need.firstSearch) return showTimeModal();
    else return searchCandidates();
  })
</script>