<div class="modal-body">
  <div class="form-group">
    <label for="nameValue"> Donnez un nom à votre recherche </label>
    <input class="form-control" type="text" id="nameValue">
  </div>
  <div style="margin-top: 5px;">
    <button id="submitName" class="btn btn-info" type="button">Valider</button>
  </div>
</div>
<script>
  $('#submitName').click(function() {
    let name = $('#nameValue').val();
    if (need.selectedCandidates.length > 0 && name.length > 2) {
      need.name = name;
      createModal({
        id: 'notifyCandidatesModal',
        modal: 'es/need/notifyCandidates',
        title: 'Vous êtes sur le point de sauvegarder votre recherche'
      });
    } else {
      notification({
        icon: 'exclamation',
        type: 'danger',
        title: 'Impossible de créer cette recherche',
        message: `Vous devez spécifier un nom de recherche d'au moins trois caractères.`
      });
    }
  });
</script>