<div class="modal-body">
  <div class="form-group">
    <label for="nameValue"> Donnez un nom à votre recherche </label>
    <input class="form-control" type="text" id="nameValue" value="{{this.context.need.name}}">
  </div>
  <div style="margin-top: 5px;">
    <button id="submitName" class="btn btn-info" type="button">Valider</button>
  </div>
</div>
<script>
  $('#submitName').click(function() {
    let name = $('#nameValue').val();
    if (name.length > 2) {
      need.name = name;
      {{#if this.context.need.name}}
      $.post(`/api/es/need/{{this.context.need.id}}/edit`, need, (data) => {
        if (data.status === 'updated') {
          $('#needNameModal').modal('hide');
          notification({
            icon: 'check-circle',
            type: 'success',
            title: 'Besoin modifié avec succès.',
          });
        }
      }).catch((xhr, status, error) => catchError(xhr, status, error));
      {{else}}
        if (need.selectedCandidates.length > 0) {
          createModal({
            id: 'notifyCandidatesModal',
            modal: 'es/need/notifyCandidates',
            title: 'Vous êtes sur le point de sauvegarder votre recherche'
          });
        } else {
          if (need.name.length > 2) {
            need._csrf = _csrf;
            $.post(`/api/es/${esId}/addNeed`, need, (data) => {
              if (data.id) {
                createModal({
                  id: 'needSavedModal',
                  modal: 'es/need/saved',
                  title: 'Besoin enregistré avec succès !',
                  needId: data.id
                })
              }
            });
          } else {
            notification({
              icon: 'exclamation',
              type: 'danger',
              title: 'Impossible de créer cette recherche',
              message: `Vous devez spécifier un nom de recherche.`
            });
          }
        }
      {{/if}}
    } else {
      notification({
        icon: 'exclamation',
        type: 'danger',
        title: 'Impossible de créer cette recherche',
        message: `Vous devez spécifier un nom de recherche d'au moins trois caractères.`
      });
    }
  });
</script>