<div class="modal-body">
  <form role="form" class="form-horizontal">
    <div class="row">
      <div class="col-md-12" id="selectDiplomaTypeTrg">
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" id="ignoreDiploma" class="btn btn-default pull-left"
          data-dismiss="modal" onclick="">Ignorer
  </button>
</div>
<script>
  $('#selectDiplomaType').clone().appendTo('#selectDiplomaTypeTrg');
  $('#selectDiplomaTypeTrg > #selectDiplomaType').attr('id', 'diplomaTypeSelect');
  $('#diplomaTypeSelect').select2();
  $('#diplomaTypeSelect').show();
  $('select#diplomaTypeSelect').on('change', function () {
    if (this.value === '') {
      $('select#diplomaTypeSelect').addClass('error');
      return false;
    }
    $('select#diplomaTypeSelect').removeClass('error').addClass('success');
    need.filterQuery.diploma = $('#diplomaTypeSelect option:selected').text();

    $('.modal#diplomaType').modal('hide');
    $('#btnDiplomaType').html(need.filterQuery.diploma);
    $('#btnDiplomaType').parent().removeClass('btn-outline-info').addClass('btn-info');;

    return searchCandidates();
  });

  $('#ignoreDiploma').click(function() {
    // need.firstSearch = false;
    if(!_.isNil(need.filterQuery.diploma)) {
      delete need.filterQuery.diploma;
      $('#btnDiplomaType').empty();
      $('#btnDiplomaType').parent().removeClass('btn-info').addClass('btn-outline-info');
    }
    searchCandidates();
  });
</script>