<div class="modal-body">
  <p>
    Vous pouvez à tout moment notifier les candidats afin de leur demander de confirmer leur disponibilité en cliquant sur l'icône <i class="fal fa-paper-plane"></i>
  </p>
</div>
<div class="modal-footer">
  <a href="/candidates" class="btn btn-default pull-left">Faire une nouvelle recherche</a>
  <a href="/need/{{this.needId}}" class="btn btn-outline-info float-right">Accéder au besoin</a>
</div>