<style>
  .checkbox label::before {
    content: "";
    margin-top: 20px;
    transform: scale(1.5);
  }
  .checkbox label::after {
    top: 19px;
    font-size: 21px;
  }
  h3, .h3 {
    font-size: 1.825em;
    line-height: 2.2 !important;
  }
  .form-group {
    margin-bottom: 0 !important;
  }
</style>
<div class="row">
  <div class="col-lg-12 col-md-12">
    <form role="form">
      <div id="postType" class="row">
        <div class="col-sm-3">
          <h4 class="text-bold">Type de poste *:</h4>
        </div>
        <div class="col-sm-9">
          <div class="form-group col-sm-12" style="margin-top: 25px">
            <label for="selectPostType">
              <select class="form-control" id="selectPostType" multiple="multiple">
                {{#each posts as |post|}}
                  <option value="{{post.id}}">{{post.name}}</option>
                {{/each}}
              </select>
            </label>
          </div>
        </div>
        <div class="col-md-12"><hr></div>
      </div>
      <div class="clearfix"></div>
    </form>
  </div>
</div>
</div>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMyQuBw8EQ6YixI2_Fxbw_OSmyVnnVocI&libraries=places"></script>
