<style>
  .main-text {
    margin-bottom: 25px !important;
  }
  .separator {
    border-bottom: 1px solid grey;
  }
  .text {
    margin-bottom: 25px;
    margin-top: 15px;
    text-align: center;
    justify-content: center;
    padding-bottom: 25px;
  }
</style>

<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="row text separator">
        <h3 class="main-text"> Qu'est-ce qu'un pool?</h3>
        <p>En tant que recruteur ou cadre, vous pouvez inviter vos soignants à rejoindre un <b>groupe de remplaçants</b></p>
        <p>Les remplaçants proposent <span>leurs disponibilités</span><b >sur leurs jours de repos.</b> C'est ce que l'on appelle
          le <i>retour sur repos</i></p>
        <p>En cas <span>d'urgence</span> ou <span>d'absence</span> de l'un de vos soignants, notifiez les <b>professionnels
        disponibles.</b></p>
      </div>
      <div class="row text separator">
        <h3 class="main-text"> Quels professionnels sont concernés?</h3>
        <p> Le <i> système de pool</i> concerne essentiellement les <b> postes d'infirmier</b> (IDE) et <b> d'Aide-Soignant</b> (ASD).</p>
        <p> Toutefois, selon l'établissement, il peut être <span>étendu</span> à d'autres types de poste.</p>
      </div>
      <div class="row text">
        <h3 class="main-text"> Est-ce obligatoire?</h3>
        <p><b>Pas du tout!</b> Le retour sur repos fonctionne sur la base du <span>volontariat.</span></p>
        <p>Par ailleurs, l'établissement sollicite uniquement <b>en fonction de vos disponibilités</b> visible depuis leur planning.</p>
      </div>
      <div class="row text">
        <button type="button" class="btn btn-primary" onclick="$(location).attr('href', '/my-pool');"> C'est compris !</button>
      </div>
    </div>
  </div>
</div>