<div class="modal-body text-center">
  <input id="wishName" type="text">
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
  <button type="button" id="btnSaveWish" class="btn btn-success">
    Sauvegarder
  </button>
</div>