<div class="modal-body">
  <div class="form-group">
    <label for="oldPassword"> Ancien mot de passe </label>
    <input class="form-control" type="password" id="oldPassword" autocomplete="new-password">
    <label for="newPassword"> Nouveau mot de passe </label>
    <input class="form-control" type="password" id="newPassword">
    <label for="newPasswordVerification"> Confirmez votre mot de passe </label>
    <input class="form-control" type="password" id="newPasswordVerification">
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-info" id="ChangePassValidation"> Valider </button>
</div>