<div class="modal-body">
  <form role="form" class="form-horizontal">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label class="col-md-3 control-label" for="editDName">Diplôme *</label>
          <div class="col-md-9">
            <input id="editDName" name="name" type="text"
                   placeholder="Choisir un diplôme" class="form-control input-md" required="">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label class="col-md-3 control-label" for="editDStart">Début *</label>
          <div class="col-sm-3 col-md-3">
            <input id="editDStart" name="start" type="text"
                   class="form-control input-md monthpicker from" required="" autocomplete="false">
          </div>
          <label class="col-md-2 control-label" for="editDEnd">Fin *</label>
          <div class="col-sm-3 col-md-3">
            <input id="editDEnd" name="end" type="text"
                   class="form-control input-md monthpicker to" autocomplete="false">
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-secondary float-left" data-dismiss="modal">Annuler</button>
  <button type="button" class="btn btn-outline-info float-right" style="margin-bottom: 5px;"
          onclick="editDiploma({{this.dataID}})">
    <i class="fa fa-pencil-square" aria-hidden="true"></i> Modifier
  </button>
</div>