<div class="modal-body">
  <p><i class="fal fa-calendar-alt fa-2x" href="#"></i> Indiquez vos disponibilités !</p><br>
  <p><i class="fal fa-paperclip fa-2x"></i> Ajoutez votre planning de service transmis par votre cadre (facultatif).</p>
  <p><i class="fal fa-hospital-user fa-2x"></i> Si vous travaillez dans un groupe d'établissements, choisissez les établissements
    pour lesquels vous souhaitez travailler.</p>
  <p> <i class="fal fa-stethoscope fa-2x"></i> Choisissez les services dans lesquels vous souhaitez travailler.</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-primary" id="endHelpButton"> C'est compris ! </button>
</div>