<div class="modal-body">
  <p><i class="fal fa-calendar-alt fa-2x" href="#"></i> Cet icone vous permet de choisir vos disponibilités, pour ceci,
  rien de plus simple, cliquez sur les jours auquels vous êtes disponible!</p>
  <p><i class="fal fa-paperclip fa-2x"></i> Cet icone vous permet de télécharger un scan de votre planning de disponibiltés.
  Les RH apprécient l'avoir sous la main pour vous rappelez si besoin!</p>
  <p><i class="fal fa-map-marker-alt fa-2x"></i> Si vous travaillez dans un groupe d'établissement, cet icone vous permet
  de choisir le ou les établissements pour lesquels vous souhaitez travailler.</p>
  <p> <i class="fal fa-cog fa-2x"></i> Cet icone vous permet de choisir les services dans lesquels vous souhaitez travailler!</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-primary" id="endHelpButton"> C'est compris! </button>
</div>