<div class="modal-body">
  <div id="vacationDate"></div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-outline-primary" id="validateDisponibility"> Valider mes disponibilités </button>
</div>

<script>let data = { availability: [] };</script>
<script src="/static/assets/dist/js/pool_calendar.min.js"></script>
<script>loadPreviousDatas({{pool}});</script>