<div class="modal-body">
  <div class="form-group">
    <label for="servicesSelect"> Sélectionnez un service où vous souhaitez travailler</label>
      <select id="servicesSelect" name="selectName" class="select2-class col-md-12">
      </select>
    <small class="float-right"><i>Il est obligatoire d'avoir une expérience dans le/les services.</i></small>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-primary" id="addServiceButton"> Sauvegarder </button>
</div>
<script> pool = {{pool}}; </script>
<script src="/assets/dist/js/pools/pool_services.min.js"></script>