<div class="modal-body">
  <div class="form-group">
    <label for="servicesSelect"> Sélectionnez un service où vous souhaitez travailler</label>
      <select id="servicesSelect" name="selectName" class="select2-class col-md-12">
      </select>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-primary" id="addServiceButton"> Sauvegarder </button>
</div>
<script> let pool = {{pool}}; </script>
<script src="/static/assets/dist/js/pool_services.min.js"></script>