<div class="modal-body">
  <div class="form-group">
    <h3> Mes services</h3>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-primary" id="validateServiceButton"> Ajouter le service </button>
</div>