<div class="modal-body">
  <div class="form-group">
    <label for="servicesSelect"> Sélectionner un service </label>
      <select id="servicesSelect" name="selectName" class="select2-class col-md-12">
      </select>
    <label for="experienceInput" style="margin-top:25px;"> Choisissez votre expérience (mois)</label>
      <div class="input-group">
          <span class="input-group-btn">
              <button type="button" class="btn btn-outline-primary btn-number" data-type="minus" data-field="quant[1]">
                  <span class="fal fa-minus"></span>
              </button>
          </span>
        <input id="experienceInput" type="text" name="quant[1]" class="form-control input-number" value="1" min="0" max="99" style="margin: 0 25px">
        <span class="input-group-btn">
              <button type="button" class="btn btn-outline-primary btn-number" data-type="plus" data-field="quant[1]">
                  <span class="fal fa-plus"></span>
              </button>
          </span>
      </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-primary" id="seeServicesButton" onclick="seeMyServices()"> Voir mes services </button>
  <button type="button" class="btn btn-outline-primary" id="addServiceButton"> Ajouter le service </button>
</div>
<script>
  $(document).ready(function() {
    $('.select2-class').select2();
    $.get(`/api/services/all`, function (data) {
      data.services.forEach(service => {
        let serviceObject = {};
        serviceObject.id = service.id;
        serviceObject.text = service.name;
        serviceArray.push(serviceObject);
      });
      $('#servicesSelect').empty().select2({
        data: serviceArray.sort(),
        placeholder: "Service ?",
        minimumResultsForSearch: Infinity
      });
      serviceArray=[];
    });
  });
  $('.btn-number').click(function(e){
    e.preventDefault();
    fieldName = $(this).attr('data-field');
    type=$(this).attr('data-type');
    let input = $("input[name='"+fieldName+"']");
    let currentVal = parseInt(input.val());
    if (!isNaN(currentVal)) {
      if (type == 'minus') {
        if(currentVal > input.attr('min')) {
          input.val(currentVal - 1).change();
        }
      } else if (type == 'plus') {
        if(currentVal < input.attr('max')) {
          input.val(currentVal + 1).change();
        }
      }
    } else {
      input.val(0);
    }
  });
</script>