<div class="modal-body">
  <div style="display:none" id="planningAvailable">
    <p>Vous avez déjà ajouté votre planning de service. Si celui-ci n'est plus à jour, vous pouvez supprimer le document
      et ajouter par la suite votre document.</p>

    <div class="col-md-8">
      <h4 id="planningText"></h4>
      <a href="/pools/document/{{pool}}" style="cursor: pointer" target="_blank">Visualiser</a>
      <a class="float-right" style="cursor: pointer; color: red" onclick="removeDocument({{pool}})">Supprimer</a>
    </div>
  </div>

  <div style="display:none" id="planningNotAvailable">
  <form id="file-upload-form" class="uploader" method="post" action="/api/candidate/pool/add/document/{{pool}}">
    <input id="file-upload" type="file" accept="application/pdf, image/png, image/jpeg, image/jpg"/>
    <label for="file-upload" id="file-drag">
      <div id="start">
        <i class="fal fa-cloud-upload fa-3x" aria-hidden="true"></i>
        <div id="notgoodfile" style="color:red;display:none">Format non autorisé (seuls les formats suivants sont acceptés : pdf, png & jpeg)</div>
        <div>Cliquez ou déposez un fichier <br /><small>Formats acceptés : pdf, png, jpeg</small></div>
        <span id="file-upload-btn" class="btn btn-primary">Choisir un fichier</span>
      </div>
      <div id="response"></div>
    </label>
  </form>
  </div>
</div>

<div class="modal-footer">
  <button id="upload-btn" class="btn btn-outline-primary" onclick="uploadButtonClick({{pool}})" style="display: none">Uploader</button>
  <button class="btn btn-outline-primary" data-dismiss="modal">Fermer</button>
</div>

<script src="/static/assets/dist/js/candidate_pools_uploadPlanning.min.js"></script>