<style>
  p {
    font-size: 2.2em;
    line-height: 1.5 !important;
    color: deepskyblue;
  }
  .ats > .container-fluid > .content >.container-fluid > .row{
    padding: 0;
    margin-left: 0px;
    margin-right: 0px;
  }
  .ats > .container-fluid > .content >.container-fluid,
  .ats > .container-fluid > .content,
  .ats > .container-fluid{
    padding: 0;
  }
  .part{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3%;
  }
  .rightPart{
    background-color: #00aced;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .footer-left{
    flex-direction: row;
    display: flex;
  }
  .footer-left img{
    width: 100px;
  }
  .footer-left p{
    color: black;
    font-size: 1.5em;
  }
  .footer-left-p{
    flex-direction: column;
    display: flex;
    justify-content: flex-end;
  }
  .paraph{
    padding: 7%;
    border-bottom: 1px white solid;
  }
  .paraph p{
    color: white;
  }
  .paraph:last-child{
    border-bottom: none;
  }
  .paraph button.btn.btn-success{
    font-size: 1.5em;
    font-weight: bold;
    background-color: #0bcfb4;
    border-radius: 300px;
    padding: 10px 15px;
    margin-top: 5%;
  }
  #postModal{
    display: none;
  }
  #postModal > .modal-dialog{
    max-width: 100%;
    min-height: 100%;
    margin: 0;
  }
  #postModal > .modal-dialog > .modal-content{
    background-color: rgba(0,0,0,0.7);
    height: 100vh;
  }
  #postModal > .modal-dialog > .modal-content > .modal-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .selectPost{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 30%;
    width: 50%;
  }
  .selectParaph > p{
    font-size: 3em;
    color: white;
  }
  .select-holder > i{
    font-size: 2.2em;
    color: white;
  }
  .select-holder > select{
    width: 100%;
  }
  .selectPost > div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 3%;
  }

</style>

<div class="row text-center">
  <div class="col-sm-4 part">
    <div>
      <img src="/static/assets/images/LOGO_WEB_118_PX.png" alt="Mstaff">
    </div>
    <div>
      <p>La clinique {{es.name}} vous propose de postuler <b>sans cv ni lettre de motivation</b> via notre outil</p>
    </div>
    <div class="footer-left">
      <div>
        <img src="/static/assets/images/face-0.jpg" alt="Mstaff">
      </div>
      <div class="footer-left-p">
        <div>
          <p>"Sans doute la tête que vous venez de faire en arrivant sur cet écran."</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-8 part rightPart">
      <div class="paraph">
        <p>C'est votre toute première fois sur Mstaff ?</p>
        <p>Postulez et créer votre compte candidat.</p>
        <button class="btn btn-success" onclick="createPostModal()">En tant que...</button>
      </div>
      <div class="paraph">
        <p>Vous avez déjà un compte Mstaff et souhaitez ajouter cet établissement à votre dernier souhait ?</p>
        <button class="btn btn-success">Postuler en 1 clic !</button>
      </div>
    </div>
</div>

<div class="modal" id="postModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="selectPost">
          <div class="selectParaph">
            <p>Vous souhaitez postuler en tant que...</p>
          </div>
          <div class="select-holder">
            <i class="fal fa-search col"></i>
            <select>
              <option>Mustard</option>
              <option>Ketchup</option>
              <option>Relish</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/static/assets/dist/js/ats.min.js"></script>