<style>
  p {
    font-size: 2.2em;
    line-height: 1.5 !important;
    color: deepskyblue;
  }
  .ats > .container-fluid > .content >.container-fluid > .row{
    padding: 0;
    margin-left: 0px;
    margin-right: 0px;
  }
  .ats > .container-fluid > .content >.container-fluid,
  .ats > .container-fluid > .content,
  .ats > .container-fluid{
    padding: 0;
  }
  .part{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3%;
  }
  .rightPart{
    background-color: #00aced;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .footer-left{
    flex-direction: row;
    display: flex;
  }
  .footer-left img{
    width: 100px;
  }
  .footer-left p{
    color: black;
    font-size: 1.5em;
  }
  .footer-left-p{
    flex-direction: column;
    display: flex;
    justify-content: flex-end;
  }
  .paraph{
    padding: 7%;
    border-bottom: 1px white solid;
  }
  .paraph p{
    color: white;
  }
  .paraph:last-child{
    border-bottom: none;
  }
  .paraph button.btn.btn-raised.btn-primary{
    font-size: 1.5em;
    background-color: #0ecea4;
    border-radius: 300px;
    padding: 10px 15px;
    margin-top: 5%;
  }
</style>

<div class="row text-center">
  <div class="col-sm-4 part">
    <div>
      <img src="/static/assets/images/LOGO_WEB_118_PX.png" alt="Mstaff">
    </div>
    <div>
      <p>La clinique {{es.name}} vous propose de postuler <b>sans cv ni lettre de motivation</b> via notre outil</p>
    </div>
    <div class="footer-left">
      <div>
        <img src="/static/assets/images/face-0.jpg" alt="Mstaff">
      </div>
      <div class="footer-left-p">
        <div>
          <p>"Sans doute la tête que vous venez de faire en arrivant sur cet écran."</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-8 part rightPart">
      <div class="paraph">
        <p>C'est votre toute première fois sur Mstaff ?</p>
        <p>Postulez et créer votre compte candidat.</p>
        <button class="btn btn-raised btn-primary">En tant que...</button>
      </div>
      <div class="paraph">
        <p>Vous avez déjà un compte Mstaff et souhaitez ajouter cet établissement à votre dernier souhait ?</p>
        <button class="btn btn-raised btn-primary">Postuler en 1 clic !</button>
      </div>
    </div>
</div>

<!--<div class="row text-center">-->
  <!--<div class="col-sm-4 leftPart">-->
    <!--<img src="/static/assets/images/LOGO_WEB_118_PX.png" alt="Mstaff">-->
  <!--</div>-->

  <!--<div class="col-sm-8 rightPart">-->
    <!--<div class="row">-->
      <!--<div class="col-sm-12">-->
        <!--<p>C'est votre tout première fois sur MStaff ? Postulez et créez votre compte candidat.</p>-->
        <!--<button>-->
          <!--En tant que...-->
        <!--</button>-->
      <!--</div>-->
    <!--</div>-->
    <!--<hr>-->
    <!--<div class="row">-->
      <!--<div>-->
        <!--<h3>C'est votre tout première fois sur MStaff ?</h3>-->
        <!--<h3>Postulez et créez votre compte candidat.</h3>-->
        <!--<button>-->
          <!--En tant que...-->
        <!--</button>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->