<li{{#ifCond @root.a.main '===' 'candidates'}} class="active"{{/ifCond}}>
    <a href="/candidates">
        <i class="fal fa-users"></i>
        <p>Mes candidats</p>
    </a>
</li>
<li{{#ifCond @root.a.main '===' 'needs'}} class="active"{{/ifCond}}>
  <a href="/needs">
    <i class="ti-search"></i>
    <p>Mes recherches</p>
  </a>
</li>