<li class="nav-item">
  <a class="nav-link{{#ifCond @root.a.main '===' 'candidates'}} active{{/ifCond}}" href="/candidates">
    <i class="fal fa-users"></i> Ma CVthèque
  </a>
</li>
<li class="nav-item">
  <a class="nav-link{{#ifCond @root.a.main '===' 'needs'}} active{{/ifCond}}" href="/needs">
    <i class="fal fa-search"></i> Mes besoins
  </a>
</li>
<li class="nav-item">
  <a class="nav-link{{#ifCond @root.a.main '===' 'conferences'}} active{{/ifCond}}" href="/conferences/calendar">
    <i class="fal fa-comments"></i> Mes entretiens
  </a>
</li>
<li class="nav-item">
  <a class="nav-link{{#ifCond @root.a.main '===' 'history'}} active{{/ifCond}}" href="/history">
    <i class="fal fa-handshake"></i> Mon historique
  </a>
</li>
<li class="nav-item">
  <a class="nav-link{{#ifCond @root.a.main '===' 'selectEs'}} active{{/ifCond}}" href="/select/es">
    <i class="fal fa-hospitals"></i> Établissements
  </a>
</li>