<div class="modal fade" id="{{this.id}}" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-center">{{{this.title}}}</h4>
      </div>
      {{> (partial this.modal)}}
    </div>
  </div>
</div>