<div class="row" >
    <div class="col-md-12">
        <div style="width: 90%;margin: auto">
            <h3 class="text-right color-grey">Profil complété à 90%</h3>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                     aria-valuemax="100" style="width:90%;background-color: #5EB4FF;">
                    <span class="sr-only">90% Complete</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12"  >
        <div style="width: 90%;margin: auto">
            <form action="https://app.mstaff.co/inscription/externe/etape5" method="POST">
                <input type="hidden" name="_token" value="AJDmAfLCsOcJm9Ml8G6wN730AwNr8h2NeEB8o39H">
                <div style="border: 1px solid #DDD;padding: 10px;">
                    <div class="row">
                        <div class="col-md-3 text-center">
                            <img src="/images/hopital.png" width="100">
                        </div>
                        <div class="col-md-9">
                            <h3>Où souhaitez-vous postuler ?</h3>
                            <hr style="width: 100%;border-top: 2px solid #eee;">
                        </div>
                    </div>
                    <mstaff-search-es options="optionsSearchES" souhaits="souhaits" selected-etablissements="souhait.etablissements" ></mstaff-search-es>
                    <input type="hidden" name="souhait_etablissements" id="etablissements">
                    <div class="row row-space-1">
                        <div class="col-md-12 text-center">
                            <button type="submit" class="btn btn-blue btn-lg">
                                <strong>Suivant <i class="fa fa-arrow-right"></i></strong>
                            </button>
                            <a href="https://app.mstaff.co/inscription/externe/etape3" class="btn btn-flat btn-lg pull-left" style="color:grey ; ;margin-top:5px;border-bottom:2px solid #F4F4F4">
                                Retour
                            </a>
                        </div>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>