<div class="row">
  <div class="col-lg-12 col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title pull-left"><i class="fal fa-files-o"></i> Mes documents</h4>
        <hr style="width:85%; margin-top: 14px;">
      </div>
      <div class="card-content">
        <div class="row">
          <form id="file-upload-form" class="uploader" method="post" action="/api/candidate/add/document" style="display: none">
            <input id="file-upload" type="file" accept="application/pdf, image/png, image/jpeg"/>
            <label for="file-upload" id="file-drag">
              <div id="start">
                <i class="fal fa-file-pdf-o fa-3x" aria-hidden="true"></i>
                <div>Choisir un ou plusieurs fichiers ou déposer ici</div>
                <span id="file-upload-btn" class="btn btn-primary"></span>
              </div>
              <div id="response" style="display:none"></div>
            </label>
          </form>
          <div class="col-md-12">
            <div class="col-md-3">
              <div class="card">
                <div class="card-content center-block">
                  <div class="col-md-12">
                    <div class="icon-big icon-info text-center">
                      <i class="fal fa-graduation-cap"></i>
                    </div>
                    <div class="text-center">
                      <small class="text-center">Diplôme (ou Attestation de jeune diplômé)</small>
                      <br><br>
                      <i class="fal fa-plus-circle fa-2x" style="cursor: pointer"
                         data-action="addDoc" data-type="DIP"></i>
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <div class="pull-right" style="position:relative; display:inline-block;">
                      <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" rel="tooltip" title=""
                         data-original-title=""></i>
                    </div>
                    <small id="DIPCount">0</small> <i class="fa fa-files-o"></i>
                    {{#each candidate.documents as |document|}}
                      test
                    {{/each}}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card">
                <div class="card-content center-block">
                  <div class="col-md-12">
                    <div class="icon-big icon-info text-center">
                      <i class="fal fa-id-card"></i>
                    </div>
                    <div class="text-center">
                      <small class="text-center">Pièce d'identité</small>
                      <br><br>
                      <i class="fal fa-plus-circle fa-2x" style="cursor: pointer"
                         data-action="addDoc" data-type="CNI"></i>
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <div class="pull-right" style="position:relative; display:inline-block;">
                      <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" rel="tooltip" title=""
                         data-original-title=""></i>
                    </div>
                    <small id="CNICount">0</small> <i class="fa fa-files-o"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card">
                <div class="card-content center-block">
                  <div class="col-md-12">
                    <div class="icon-big icon-info text-center">
                      <i class="fal fa-file-certificate"></i>
                    </div>
                    <div class="text-center">
                      <small class="text-center">Justificatif de référencement ADELI</small>
                      <br><br>
                      <i class="fal fa-plus-circle fa-2x" style="cursor: pointer"
                         data-action="addDoc" data-type="ADELI"></i>
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <div class="pull-right" style="position:relative; display:inline-block;">
                      <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" rel="tooltip" title=""
                         data-original-title=""></i>
                    </div>
                    <small id="ADELICount">0</small> <i class="fa fa-files-o"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card">
                <div class="card-content center-block">
                  <div class="col-md-12">
                    <div class="icon-big icon-info text-center">
                      <i class="fal fa-shield-alt"></i>
                    </div>
                    <div class="text-center">
                      <small class="text-center">Carte Vitale ou Attestation de Protection Santé</small>
                      <br><br>
                      <i class="fal fa-plus-circle fa-2x" style="cursor: pointer"
                         data-action="addDoc" data-type="VIT"></i>
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <div class="pull-right" style="position:relative; display:inline-block;">
                      <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" rel="tooltip" title=""
                         data-original-title=""></i>
                    </div>
                    <small id="VITCount">0</small> <i class="fa fa-files-o"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card">
                <div class="card-content center-block">
                  <div class="col-md-12">
                    <div class="icon-big icon-info text-center">
                      <i class="fal fa-university"></i>
                    </div>
                    <div class="text-center">
                      <small class="text-center">Relevé d'Identité Bancaire (RIB)</small>
                      <br><br>
                      <i class="fal fa-plus-circle fa-2x" style="cursor: pointer"
                         data-action="addDoc" data-type="RIB"></i>
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <div class="pull-right" style="position:relative; display:inline-block;">
                      <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" rel="tooltip" title=""
                         data-original-title=""></i>
                    </div>
                    <small id="RIBCount">0</small> <i class="fa fa-files-o"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card">
                <div class="card-content center-block">
                  <div class="col-md-12">
                    <div class="icon-big icon-info text-center">
                      <i class="fal fa-user-md"></i>
                    </div>
                    <div class="text-center">
                      <small class="text-center">Attestation d'inscription à l'Ordre National</small>
                      <br><br>
                      <i class="fal fa-plus-circle fa-2x" style="cursor: pointer"
                         data-action="addDoc" data-type="OrNa"></i>
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <div class="pull-right" style="position:relative; display:inline-block;">
                      <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" rel="tooltip" title=""
                         data-original-title=""></i>
                    </div>
                    <small id="OrNaCount">0</small> <i class="fa fa-files-o"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card">
                <div class="card-content center-block">
                  <div class="col-md-12">
                    <div class="icon-big icon-info text-center">
                      <i class="fal fa-file-user"></i>
                    </div>
                    <div class="text-center">
                      <small class="text-center">CV</small>
                      <br><br>
                      <i class="fal fa-plus-circle fa-2x" style="cursor: pointer"
                         data-action="addDoc" data-type="CV"></i>
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <div class="pull-right" style="position:relative; display:inline-block;">
                      <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" rel="tooltip" title=""
                         data-original-title=""></i>
                    </div>
                    <small id="CVCount">0</small> <i class="fa fa-files-o"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card">
                <div class="card-content center-block">
                  <div class="col-md-12">
                    <div class="icon-big icon-info text-center">
                      <i class="fal fa-file-signature"></i>
                    </div>
                    <div class="text-center">
                      <small class="text-center">Lettre de motivation</small>
                      <br><br>
                      <i class="fal fa-plus-circle fa-2x" style="cursor: pointer"
                         data-action="addDoc" data-type="LM"></i>
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <div class="pull-right" style="position:relative; display:inline-block;">
                      <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" rel="tooltip" title=""
                         data-original-title=""></i>
                    </div>
                    <small id="LMCount">0</small> <i class="fa fa-files-o"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/static/javascripts/uploadDocuments.js"></script>
