<div class=" text-left shadow-grey col-12 p-3 mb-4 contextSection">
  <h1 class="text-center">Contexte de travail</h1>
  <form id="contextForm">
    <div class="form-group">
      <label for="postLocalisation">Localisation du poste</label>
      <input type="text" class="form-control input-blue" id="postLocalisation">
    </div>

    <div class="form-group">
      <label for="esAddress">Adresse de l'établissement</label>
      <input type="text" class="form-control input-blue" id="esAddress">
    </div>

    <div class="form-group">
      <label for="esAttach">Rattachement établissement</label>
      <input type="text" class="form-control input-blue" id="esAttach">
    </div>

    <div class="form-group">
      <input type="text" class="form-control input-blue" id="contextSite" placeholder="Site">
    </div>

    <div class="form-group">
      <input type="text" class="form-control input-blue" id="contextPole" placeholder="Pôle">
    </div>

    <div class="form-group">
      <label for="esPresentation">Présentation de l'établissement</label>
      <textarea type="text" class="form-control input-blue" id="esPresentation"></textarea>
    </div>

    <div class="form-group text-center">
      <button class="btn btn-info">Sauvegarder</button>
      <button class="btn btn-outline-info">Annuler</button>
      <button class="btn btn-outline-info">Effacer</button>
    </div>
  </form>
</div>