<div class=" text-left shadow-grey col-12 p-3 mb-4 contextSection">
  <h1 class="text-center">Contexte de travail</h1>
  <form id="contextForm">
    <div class="form-group">
      <label for="place">Localisation du poste</label>
      <input type="text" class="form-control input-blue" id="place">
    </div>

    <div class="form-group">
      <label for="address">Adresse de l'établissement</label>
      <input type="text" class="form-control input-blue" id="address">
    </div>

    <div class="form-group">
      <label for="contextAttach">Rattachement établissement</label>
      <input type="text" class="form-control input-blue" id="contextAttach">
    </div>

    <div class="form-group">
      <input type="text" class="form-control input-blue" id="website" placeholder="Site">
    </div>

    <div class="form-group">
      <input type="text" class="form-control input-blue" id="contextPole" placeholder="Pôle">
    </div>

    <div class="form-group">
      <label for="contextPresentation">Présentation de l'établissement</label>
      <textarea type="text" class="form-control input-blue" id="contextPresentation"></textarea>
    </div>

    <div class="form-group d-flex flex-column justify-content-center align-items-center">
      {{#if offer.context_section.logo}}
        <img class="custom-cursor" src="/static/assets/images/default_hospital.jpg" alt="Logo Etablissement" width="25%" id="contextLogo">
      {{else}}
        <i class="fal fa-image fa-3x custom-cursor"></i>
      {{/if}}
      <p class="custom-cursor" onclick="addLogoContext()">Ajouter une photo ou un logo</p>
    </div>
  </form>

  <div class="text-center">
    <button class="btn btn-info" onclick="saveContext()">Sauvegarder</button>
    <button class="btn btn-outline-info" onclick="cancelContext()">Annuler</button>
    <button class="btn btn-outline-info" onclick="clearContext()">Effacer</button>
  </div>
</div>

<script>
  $('textarea').trumbowyg({
    lang: 'fr',
    btns: [
      ['viewHTML'],
      ['undo', 'redo'], // Only supported in Blink browsers
      ['formatting'],
      ['strong', 'em', 'del'],
      ['superscript', 'subscript'],
      ['link'],
      ['insertImage'],
      ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull'],
      ['unorderedList', 'orderedList'],
      ['horizontalRule'],
      ['removeformat'],
    ]
  });
</script>
<script src="/static/assets/dist/js/job_board_context.min.js"></script>