<div class=" text-left shadow-grey col-12 p-3 mb-4 contextSection">
  <h1 class="text-center">Contexte de travail</h1>
  <form id="contextForm">
    <div class="form-group">
      <label for="place">Localisation du poste</label>
      <input type="text" class="form-control input-blue" id="place">
    </div>

    <div class="form-group">
      <label for="address">Adresse de l'établissement</label>
      <input type="text" class="form-control input-blue" id="address">
    </div>

    <div class="form-group">
      <label for="contextAttach">Rattachement établissement</label>
      <input type="text" class="form-control input-blue" id="contextAttach">
    </div>

    <div class="form-group">
      <input type="text" class="form-control input-blue" id="website" placeholder="Site">
    </div>

    <div class="form-group">
      <input type="text" class="form-control input-blue" id="contextPole" placeholder="Pôle">
    </div>

    <div class="form-group">
      <label for="contextPresentation">Présentation de l'établissement</label>
      <textarea type="text" class="form-control input-blue" id="contextPresentation"></textarea>
    </div>

    <div class="form-group d-flex flex-column justify-content-center align-items-center">
      <img class="custom-cursor"
           src="{{#if offer.context_section.logo}}{{offer.context_section.logo}}{{else}}/assets/images/default_hospital.jpg{{/if}}"
           alt="Logo Etablissement" width="25%" id="contextLogo">
      <span id="editLogo" class="btn btn-default btn-file rounded-circle" style="border: 1px solid black; margin-top: -42px;">
        <i class="fal fa-camera-alt"></i> <input type="file" id="imgInp" name="logo" onchange="logoSelected()">
      </span>
    </div>
  </form>

  <div class="text-center">
    <button class="btn btn-info" onclick="saveContext()">Sauvegarder</button>
    <button class="btn btn-outline-info" onclick="cancelContext()">Annuler</button>
    <button class="btn btn-outline-info" onclick="clearContext()">Effacer</button>
  </div>
</div>

<script src="/assets/dist/js/job_board/job_board_context.min.js"></script>