<style>
  .iblock{
    display: inline-block;
  }
</style>

<div class=" text-left shadow-grey col-12 p-3 mb-4 detailsSection">
  <h1 class="text-center">Détails de l'offre</h1>
  <form id="detailsForm">
    <div class="form-group">
      <label for="detailsSchedule">Horaires</label>
      <input type="text" class="form-control input-blue" id="detailsSchedule">
    </div>

    <div class="form-group">
      <label for="detailsRoll">Roulement</label>
      <input type="text" class="form-control input-blue" id="detailsRoll">
    </div>

    <div class="form-group">
      <label for="detailsQuota">Quotité</label>
      <input type="text" class="form-control input-blue" id="detailsQuota">
    </div>

    <div class="form-group">
      <label for="detailsStrain">Gardes ou astreintes</label>
      <input type="text" class="form-control input-blue" id="detailsStrain">
    </div>

    <div class="form-group">
      <label for="detailsAccess">Accès</label>
      <input type="text" class="form-control input-blue" id="detailsAccess">
    </div>

    <div class="form-group d-flex">
      <div class="mr-4">Logement</div>
      <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="detailsHousing">
        <label class="custom-control-label" for="detailsHousing"></label>
      </div>
    </div>

    <div class="form-group">
      <input type="text" class="form-control input-blue" id="detailsRemuneration" placeholder="Rémunération">
    </div>

    <div class="form-group">
      <input type="text" class="form-control input-blue" id="detailsRisk" placeholder="Risques professionnels et préventifs">
    </div>

    <div class="form-group text-center">
      <button class="btn btn-info">Sauvegarder</button>
      <button class="btn btn-outline-info">Annuler</button>
      <button class="btn btn-outline-info">Effacer</button>
    </div>
  </form>
</div>