<div class=" text-left shadow-grey col-12 p-3 mb-4 natureSection">
  <h1 class="text-center">Nature de l'offre</h1>
  <form id="natureForm">
    <div class="form-group">
      <label for="offerDate">Date de création de l'offre</label>
      <input type="text" class="form-control input-blue" id="offerDate">
    </div>

    <div class="form-group">
      <label for="offerTitle">Titre de l'offre</label>
      <input type="text" class="form-control input-blue" id="offerTitle">
    </div>

    <div class="form-group">
      <label for="offerJob">Métier</label>
      <textarea type="text" class="form-control input-blue" id="offerJob"></textarea>
    </div>

    <div class="form-group">
      <label for="contractType">Type de contrat</label>
      <input type="text" class="form-control input-blue" id="contractType">
    </div>

    <div class="form-group">
      <label for="jobStartDate">Poste à pourvoir à partir du ...</label>
      <input type="text" class="form-control input-blue" id="jobStartDate">
    </div>

    <div class="form-group">
      <label for="contractDuration">Durée du contrat</label>
      <input type="text" class="form-control input-blue" id="contractDuration">
    </div>

    <div class="form-group">
      <label for="grade">Grade</label>
      <input type="text" class="form-control input-blue" id="grade">
    </div>

    <div class="form-group">
      <label for="category">Catégorie</label>
      <input type="text" class="form-control input-blue" id="category">
    </div>

    <div class="form-group text-center">
      <button class="btn btn-info">Sauvegarder</button>
      <button class="btn btn-outline-info">Annuler</button>
      <button class="btn btn-outline-info">Effacer</button>
    </div>
  </form>
</div>