<div class="row">

    <div class="col-sm p-0">
        <div class="image-ratio image-ratio-30" style="background-image:url('{{es.banner}}');"></div>
    </div>

    <div class="col-sm">
        qzd
    </div>

</div>