{{#extend "body"}}

    <div class="page-body">

        <div class="container">

            <div class="row">

                <div class="col-12">

                    <header class="page-header">

                        <div class="image-ratio image-ratio-100 image-round header-logo" style="background-image:url('{{supergroup.logo}}');"></div>
                        <span class="header-title-label">Super Groupe</span>
                        <h1 class="header-title">{{supergroup.name}}</h1>

                    </header>

                </div>

            </div>

            <div class="row">

                <div class="col-12">

                    <div class="baseline baseline-page">Lorem ipsum dolor sit amet, consectetur adipisicing elit.<span><br>Lorem ipsum dolor sit amet.</span></div>

                </div>

            </div>

            <div class="row">

                <div class="col-6 offset-3 tac">

                    <form method="post">
                        <label for="search">Où êtes-vous ?</label>
                        <input type="text" name="search" placeholder="42 rue du test, Paris">
                        <input type="hidden" name="address_components">
                        <input type="hidden" name="_csrf" value="{{csrfToken}}">

                        <button class="button button-pink">Rechercher</button>
                    </form>

                    <br>
                    <br>
                    <a href="#" style="color:#e91e63;font-style:italic;">Afficher tous les établissement de {{supergroup.name}}</a>

                </div>

            </div>

        </div>



    </div>

{{/extend}}

{{#extend "scripts"}}
    <script src="/assets/theme/mstaff/js/modules/map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMyQuBw8EQ6YixI2_Fxbw_OSmyVnnVocI&libraries=places"></script>
    <script>
        $(document).ready(function(){
            //initAutocompleteInput($('input[name="search"]').get(0));
        });
    </script>
{{/extend}}