{{log offer}}
<style>
  .shadow-grey{
    box-shadow: 0px 3px 5px grey;
  }
  .inline-block{
    display: inline-block;
  }
  .add-section-item{
    display: none;
    color: #A5A5A5;
  }
  .add-section-title{
    color: #5AA3E8;
  }
  .custom-cursor{
    cursor: pointer;
  }
  .margin-0{
    margin: 0;
  }
  .add-section-item:hover{
    color:black;
  }
  .input-blue{
    background-color: #D6EAFA;
  }
</style>

<div class="row text-center justify-content-between">
  <div id="sectionsPart" class="col-4">

    <div id="addSection" class="mb-5">
      <ul class="list-group shadow-grey custom-cursor">
        <li class="list-group-item add-section-title">
          <div class="d-flex justify-content-between">
            <span>Ajouter la section</span><span><i class="fal fa-chevron-down chevron"></i></span>
          </div>
        </li>
        <li id="addDetails" class="list-group-item add-section-item"><div class="text-left"><i class="fal fa-plus"> Ajouter détails de l'offre</i></div></li>
        <li id="addPostDescription" class="list-group-item add-section-item"><div class="text-left"><i class="fal fa-plus"> Ajouter description du poste</i></div></li>
        <li id="addRequirement" class="list-group-item add-section-item"><div class="text-left"><i class="fal fa-plus"> Ajouter prérequis</i></div></li>
        <li id="addTerms" class="list-group-item add-section-item"><div class="text-left"><i class="fal fa-plus"> Ajouter modalités de candidature</i></div></li>
      </ul>
    </div>

    <div id="natureSection" class="mb-5">
      <ul class="list-group shadow-grey">
        <li class="list-group-item nature-section-title">
          <div class="d-flex justify-content-between">
            <span>Nature de l'offre</span><span><i class="fal fa-edit custom-cursor" onclick="editSection('natureSection')"></i></span>
          </div>
        </li>
        <li class="list-group-item nature-section-item"><div class="text-left"><p class="margin-0">CDI - CDD - ETC</p><p class="margin-0">à partir du dd/mm/yyyy</p></div></li>
      </ul>
    </div>

    <div id="contextSection" class="mb-5">
      <ul class="list-group shadow-grey">
        <li class="list-group-item nature-section-title">
          <div class="d-flex justify-content-between">
            <span>Contexte de travail</span><span><i class="fal fa-edit custom-cursor" onclick="editSection('contextSection')"></i></span>
          </div>
        </li>
        <li class="list-group-item nature-section-item"><div class="text-left"><p class="margin-0">Localisation du poste</p><p class="margin-0">CH de Montargis etc etc</p></div></li>
      </ul>
    </div>

  </div>
  <div id="formsPart" class="col-7">

  </div>
</div>


<script src="/static/assets/dist/js/job_board.min.js"></script>