<link href="/static/assets/css/multiple-emails.css" rel="stylesheet">
<script src="/static/assets/js/multiple-emails.js"></script>
<div class="modal-body">
  <div class="form-group">
    <div id="toggleDiv" class="custom-control custom-switch" style="margin-bottom: 30px">
      <input type="checkbox" class="custom-control-input" name="poolActive" id="groupToggle" onchange="hideEsList()">
      <label class="custom-control-label" for="groupToggle"> Inclure tous vos établissements à ce pool </label>
    </div>
    <div id="esNameDiv" style="margin-bottom: 30px">
      <label for="esNameSelect" id="label"> Sélectionnez votre établissement </label>
      <select id="esNameSelect" class="form-control">
      </select>
    </div>
    <label for="poolName" id="label1"> Nom de votre pool </label>
    <input id="poolName" type="text" class="form-control">
    <label for="referentName" id="label2"> Nom du référent du pool </label>
    <input id="referentName" type="text" class="form-control">
    <label for="personnelMails" id="label3" style="display:none"> Ajoutez des soignants à votre pool </label>
    <input id="personnelMails" type="text" class="form-control" style="display:none;">
  </div>
</div>
<div class="modal-footer">
  <button type="button" id="addPersonnelButton" class="btn btn-outline-info float-right" style="margin-bottom: 5px;" onclick="personnelStep()">
    Ajouter des soignants
  </button>
  <button type="button" id="createPoolButton" class="btn btn-outline-info float-right" style="margin-bottom: 5px; display:none">
    Valider
  </button>
</div>
<script>
  $.get('/establishement-list', function (data) {
    data.forEach((establishment) => {
      $('#esNameSelect').append($('<option>', {value:establishment.Establishment.id, text: establishment.Establishment.name}));
    });
  });
</script>