<div class="modal-body">
  <div class="form-group">
    <label for="newPoolName"> Nom de votre pool </label>
    <input id="newPoolName" type="text" class="form-control">
    <label for="newReferentName"> Nom du référent du pool </label>
    <input id="newReferentName" type="text" class="form-control">
  </div>
</div>
<div class="modal-footer">
  <button type="button" id="editPoolButton" class="btn btn-outline-info float-right">
    Valider
  </button>
</div>