<div class="modal-body">
  <div class="row">
    <div class="col-md-12">
      <p>Vous êtes sur le point de sélectionner tous les résultats de cette page.</p>
      <p>Vous ne pouvez pas ajouter plus de 50 candidats à un besoin.</p>
      <p>Seulement les 50 premiers résultats seront ajoutés à ce besoin.</p>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="submit" id="cancelSelectAllCandidate" class="btn btn-secondary float-left" data-dismiss="modal">Annuler</button>
  <button type="button" id="SelectAllCandidate" class="btn btn-outline-info float-right" style="margin-bottom: 5px;">
    J'ai compris
  </button>
</div>