<div class="modal-body">
  <div class="form-group">
    <p> Êtes-vous certain de supprimer ce pool de remplaçants?</p>
  </div>
</div>
<div class="modal-footer">
  <button type="button" id="confirmRemoveButton" class="btn btn-outline-danger float-right">
    Confirmer la suppression
  </button>
</div>