<div class="modal-body">
  <div class="row">
    <div class="col-md-12">
      <p>Vous êtes sur le point d'archiver un candidat.</p>
      <p>Ce dernier n'apparaîtra plus dans les résultats.</p>
      <p>Vous pouvez le réactiver à tout moment depuis Ma CVThèque.</p>
      <p><i class="fal fa-info-circle"></i> <i>Le candidat apparaîtra toujours dans les résultats de vos collaborateurs.</i></p>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-default btn-default pull-left" data-dismiss="modal">Annuler</button>
  <button type="button" id="archivateCandidate" class="btn btn-info pull-right" style="margin-bottom: 5px;">
    Archiver le candidat
  </button>
</div>