<div class="modal-body">
  <div class="row">
    <div class="col-md-12">
      Le candidat va être déplacé dans la liste Notifiés. <br><br>
      Ce dernier va recevoir une notification et un mail afin de confirmer sa disponibilité. <br><br>
      Son statut apparaîtra sur sa carte (En attente, Disponible ou Indisponible). <br><br>
    </div>
  </div>
</div>
<div class="modal-footer">
  <div class="row">
    <div class="col-md-7 pull-left">
      <label>
        <input type="checkbox" id="showWarningNotifyCandidate" style="margin-left: -10px;"> Ne plus afficher ce message la prochaine fois.
      </label>
    </div>
    <div class="col-md-5 pull-right">
      <button type="submit" id="cancelNotifyCandidate" class="btn btn-default btn-default pull-left" data-dismiss="modal">Annuler</button>
      <button type="button" id="notifyCandidate" class="btn btn-info pull-right" style="margin-bottom: 5px;">
        Continuer
      </button>
    </div>
  </div>
</div>