<div class="modal-body">
  <div class="row">
    <div class="col-md-12">
      Le candidat va être déplacé dans la liste <i>Séléctionnés</i>. <br><br>
      Vous pourrez désormais interagir avec ce dernier (afficher son numéro de téléphone, organiser un entretien
      ou une visiconférance). <br><br>
      Le candidat ne recevra pas de nouvelle notification tant que vous n'interagissez pas avec lui. <br><br>
    </div>
  </div>
</div>
<div class="modal-footer">
  <div class="row">
    <div class="col-7 float-left">
      <label>
        <input type="checkbox" id="showWarningSelectCandidate" style="margin-left: -10px;"> Ne plus afficher ce message la prochaine fois.
      </label>
    </div>
    <div class="col-md-5 pull-right">
      <button type="submit" id="cancelSelectCandidate" class="btn btn-secondary float-left" data-dismiss="modal">Annuler</button>
      <button type="button" id="selectCandidate" class="btn btn-outline-info float-right" style="margin-bottom: 5px;">
        Continuer
      </button>
    </div>
  </div>
</div>