<div class="modal-body">
  <div class="row">
    <div class="col-md-12">
      Le candidat sera <b>retiré</b> de ce besoin. <br><br>
      Il continuera toutefois à apparaître dans vos résultats de recherche.<br><br>
    </div>
  </div>
</div>
<div class="modal-footer">
  <div class="row">
    <div class="col-7 float-left">
      <label>
        <input type="checkbox" id="showWarningRemoveCandidate" style="margin-left: -10px;"> Ne plus afficher ce message la prochaine fois.
      </label>
    </div>
    <div class="col-5 float-right">
      <button type="submit" class="btn btn-secondary float-left" data-dismiss="modal">Annuler</button>
      <button type="button" id="deleteCandidate" class="btn btn-outline-info float-right" style="margin-bottom: 5px;">
        Continuer
      </button>
    </div>
  </div>
</div>