<div class="modal-body">
    <div class="form-group">
        <label for="equipmentValue"> Nom de la compétence </label>
        <input class="form-control" type="text" id="equipmentValue">
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" id="validateEquipment"> Ajouter une compétence </button>
</div>