<div class="modal-body">
  <div class="form-group">
    <label for="formationValue"> Nom de la formation </label>
    <input class="form-control" type="text" id="formationValue">
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" id="validateFormation"> Ajouter une formation</button>
</div>