<div class="modal-body">
  <div class="form-group">
    <label for="groupValue"> Nom du Groupe </label>
    <input class="form-control" type="text" id="groupValue">
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" id="validateGroup"> Ajouter un groupe</button>
</div>