<div class="modal-body">
  <div class="form-group">
    <label for="postValue"> Nom du poste </label>
    <input class="form-control" type="text" id="postValue">
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" id="validatePost"> Ajouter un poste</button>
</div>
