<div class="modal-body">
     <div class="form-group">
         <label for="name"> Nom du poste </label>
         <input class="form-control" type="text" id="name">
     </div>
     <div class="form-group">
         <label for="category"> Catégorie de poste </label>
         <select class="form-control" id="category">
          <option value=""> Choisir une catégorie </option>
          <option value="medical"> Médical </option>
          <option value="paramedical"> Paramédical </option>
          <option value="other"> Personnel non soignant </option>
         </select>
     </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal"> Ajouter un poste </button>
</div>