<div class="modal-body">
  <div class="form-group">
    <label for="qualificationValue"> Nom du diplôme complémentaire </label>
    <input class="form-control" type="text" id="qualificationValue">
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" id="validateQualification"> Ajouter un diplôme</button>
</div>