<div class="modal-body">
  <div class="form-superGroup">
    <label for="superGroupValue"> Nom du Super Groupe </label>
    <input class="form-control" type="text" id="superGroupValue">
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" id="validateSuperGroup"> Ajouter un super groupe</button>
</div>