<div class="modal-body">
    <div class="form-group">
        <label for="serviceValue"> Nom du service  </label>
        <input class="form-control" type="text" id="serviceValue">
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" id="validateService"> Ajouter un service </button>
</div>