<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <p style="margin:3rem 0 2rem 0;font-style:italic;text-align:center;">{{operations.length}} opérations on été effectuées.</p>
            <br>
            <br>
            {{#each operations as |operation|}}
                {{#ifCond operation.status '==' 'OK'}}
                    <p class="text-success">L'établissement <b>{{operation.establishment.id}}</b> a été correctement mis à jour.</p>
                {{else}}

                    <p class="text-danger">
                        Une erreur est survenue lors de la mise à jour de l'établissement <b>{{operation.establishment.id}}</b>.
                        {{#ifCond operation.status '==' 'MISSING_ESTABLISHMENT_REFERENCE_ERROR'}}
                            <br>Cet établissement n'a de lien avec aucune référence !
                        {{/ifCond}}
                        {{#ifCond operation.status '==' 'GEOCODING_NO_RESULTS_ERROR'}}
                            <br>Aucun résultat n'a été trouvé pour l'adresse fournie par la référence.
                        {{/ifCond}}
                        {{#ifCond operation.status '==' 'GEOCODING_TOO_MUCH_RESULTS_ERROR'}}
                            <br>Plusieurs résultats ont été trouvé pour l'adresse fournie par la référence, il nous est impossible de savoir lequel est le bon, veuillez tenter une édition manuelle.
                        {{/ifCond}}
                    </p>

                {{/ifCond}}
            {{/each}}
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="btn btn-primary pull-right" id="ok">Ok</div>
</div>

<script>
    $('#ok').click(function(){
        $('#bulkUpdateESLocationResponse').modal('hide');
    })
</script>