<div class="modal-body">
    <div class="form-group">
        <label for="groupValueEdit"> Nom du groupe </label>
        <input class="form-control" type="text" id="groupValueEdit">
    </div>
</div>
<div class="modal-footer">
    <button type="butto1n" class="btn btn-default" id="btnEditGroup"> Modifier le groupe </button>
</div>