<div class="modal-body">
    <div class="form-group">
        <label for="serviceValueEdit"> Nom du service </label>
        <input class="form-control" type="text" id="serviceValueEdit">
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" id="btnEditService"> Modifier le service </button>
</div>