<div class="modal-body">
    <div class="form-group">
        <label for="softwareValueEdit"> Nom du logiciel </label>
        <input class="form-control" type="text" id="softwareValueEdit">
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" id="btnEditSoftware"> Modifier le logiciel </button>
</div>