<div class="modal-body">
  <div class="form-group">
    <div class="categoryOptions">
      <div class="categoryOption">
        <p>Médical</p>
          <input id="medicalToggle" type="checkbox" name="medical">
      </div>
      <div class="categoryOption">
        <p>Paramédical</p>
          <input id="paramedicalToggle" type="checkbox" name="paramedical">
      </div>
      <div class="categoryOption">
        <p>Administratif et technique</p>
          <input id="administrativeToggle" type="checkbox" name="administrative">
      </div>
      <div class="categoryOption">
        <p>Libéral</p>
          <input id="liberalToggle" type="checkbox" name="liberal" >
      </div>
      <div class="categoryOption">
        <p>CDI/CDD</p>
          <input id="contractToggle" type="checkbox" name="contract" >
      </div>
      <div class="categoryOption">
        <p> Vacations </p>
          <input id="vacationToggle" type="checkbox" name="vacation" >
      </div>
      <div class="categoryOption">
        <p>Stages</p>
          <input id="internshipToggle" type="checkbox" name="internship" >
      </div>
      <div class="categoryOption">
        <p>Bouton "Services"</p>
          <input id="serviceToggle" type="checkbox" name="service">
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" id="validateCategory"> Valider les modifications </button>
</div>
<script>
  $(document).ready(function () {
    $('.categoryOptions input').bootstrapToggle({
      on: '',
      off: '',
      onstyle: 'success',
      offstyle: 'secondary',
      size: 'md'
    });
  });
</script>