<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

<div class="modal-body">
  <div class="form-group">
    <div class="checkbox">
      <label>
        <input type="checkbox" data-toggle="toggle">
        Médical
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" data-toggle="toggle">
        Paramédical
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" data-toggle="toggle">
        Administratif et technique
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" data-toggle="toggle">
        Libéral
      </label>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" id="validateCategory"> Valider les modifications </button>
</div>