<div class="modal-body">
  Êtes-vous sûr de vouloir supprimer ce service?
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Non</button>
  <button type="button" id="btnRemoveService" class="btn btn-danger" data-dismiss="modal">
    Oui
  </button>
</div>