<div class="modal-body text-center">
  <a href="/history" class="btn btn-outline-secondary">Accéder à mon historique</a>
  <br>
  <br>
  <a href="/candidates" class="btn btn-primary">Faire une nouvelle recherche</a>
</div>