<style>
  .contractType{
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contractType > div:nth-child(1){
    border-bottom: 2px white solid;
    margin-bottom: 10px;
  }
  .contractChoices{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 10% 0;
  }
  .contractChoice{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: rgba(0,0,0,0.4);
    border: 1px solid #03A9F4;
    padding: 2%;
    margin: 0 4%;
  }
</style>

<div class="modal customModal" id="contractModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body container-fluid">
        <div class="row text-center">
          <div class="col-sm-4 leftPart">
            <div>
              <img src="/static/assets/images/LOGO_WEB_118_PX.png" alt="Mstaff">
            </div>
            <div>
              <p>Choisissez ici le type de contrat pour votre <b>candidature</b>.</p>
              <p>Vous pourrez définir d'autres types de contrat en créant une nouvelle candidature depuis votre espace personnel.</p>
            </div>
            <div class="footer-left">
              <div>
                <img src="/static/assets/images/logo-step2.jpg" alt="Mstaff">
              </div>
              <div class="footer-left-p">
                <div>
                  <p>"Vous savez ce que vous voulez, et ça se voit !"</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-8 rightPart">
            <div class="contractType">
              <div>
                <p>Que recherchez-vous ?</p>
              </div>
                <div class="contractChoices">
                  <div class="contractChoice">
                    <i class="fal fa-infinity fa-5x"></i>
                    <p>Un travail durable</p>
                    <input type="radio" name="contractRadio" checked>
                  </div>
                  <div class="contractChoice">
                    <i class="fal fa-calendar-alt fa-5x"></i>
                    <p>Des missions ponctuelles</p>
                    <input type="radio" name="contractRadio">
                  </div>
                  <div class="contractChoice">
                    <i class="fal fa-smile fa-5x"></i>
                    <p>Un stage</p>
                    <input type="radio" name="contractRadio">
                </div>
              </div>

              <div id="internshipDate">
                <div class="col-md-6"> <label for="start">Du *</label>
                  <input id="start" name="start" type="text"
                         class="form-control input-md from" required="" autocomplete="off">
                </div>
                <div class="col-md-6">
                  <label for="end">Au *</label>
                  <input id="end" name="end" type="text"
                         class="form-control input-md to" autocomplete="off">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>