<style>
  .btn{
    border-radius: 20rem;
    box-sizing: border-box;
  }
  .toggle.btn-lg{
    min-width: 50px;
    min-height: 20px;
  }
  .btn-group-lg > .btn, .btn-lg{
    font-size: 1rem;
  }
  .contractType{
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
  }
  .contractType > div:nth-child(1){
    border-bottom: 2px white solid;
    margin-bottom: 10px;
  }
  .contractChoices{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .contractChoice{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: rgba(0,0,0,0.4);
    border: 1px solid #03A9F4;
    padding: 2%;
    margin: 0 4%;
  }
  .contractChoice > i,
  .contractChoice > p{
    flex-grow: 1;
  }


</style>

<div class="modal customModal" id="contractModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body container-fluid">
        <div class="row text-center">
          <div class="col-sm-4 leftPart">
            <div>
              <img src="/static/assets/images/LOGO_WEB_118_PX.png" alt="Mstaff">
            </div>
            <div>
              <p>Choisissez ici le type de contrat pour votre <b>candidature</b>.</p>
              <p>Vous pourrez définir d'autres types de contrat en créant une nouvelle candidature depuis votre espace personnel.</p>
            </div>
            <div class="footer-left">
              <div>
                <img src="/static/assets/images/logo-step2.jpg" alt="Mstaff">
              </div>
              <div class="footer-left-p">
                <div>
                  <p>"Vous savez ce que vous voulez, et ça se voit !"</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-8 rightPart">
            <div class="contractType">
              <div>
                <p>Que recherchez-vous ?</p>
              </div>
                <div class="contractChoices">
                  <div class="contractChoice">
                    <i class="fal fa-infinity fa-5x"></i>
                    <p>Un travail durable</p>
                    <input id="cdiToggle" type="checkbox" name="cdi">
                  </div>
                  <div class="contractChoice">
                    <i class="fal fa-calendar-alt fa-5x"></i>
                    <p>Des missions ponctuelles</p>
                    <input id="vacationToggle" type="checkbox" name="vacation">
                  </div>
                  <div class="contractChoice">
                    <i class="fal fa-smile fa-5x"></i>
                    <p>Un stage</p>
                    <input id="internshipToggle" type="checkbox" name="internship">
                </div>
              </div>
              <div class="next-modal">
                <i id="toStep3" class="fal fa-arrow-circle-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>