<style>
  .contractType{
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
  }
</style>

<div class="modal customModal" id="contractModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body container-fluid">
        <div class="row text-center">
          <div class="col-sm-4 leftPart">
            <div>
              <img src="/static/assets/images/LOGO_WEB_118_PX.png" alt="Mstaff">
            </div>
            <div>
              <p>Choisissez ici le type de contrat pour votre <b>candidature</b>.</p>
              <p>Vous pourrez définir d'autres types de contrat en créant une nouvelle candidature depuis votre espace personnel.</p>
            </div>
            <div class="footer-left">
              <div>
                <img src="/static/assets/images/logo-step2.jpg" alt="Mstaff">
              </div>
              <div class="footer-left-p">
                <div>
                  <p>"Vous savez ce que vous voulez, et ça se voit !"</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-8 rightPart">
            <div class="contractType">
              <p>Que recherchez-vous ?</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>