<style>
  .inputsDiploma {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  .inputsDiploma > div{
    width: 90%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 5%;
  }

  #diplomaDate{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }
  #diplomaDate label, #diplomaDate input{
    color: white;
    text-align: center;
    font-size: 1.7em;
    font-family: 'Oxygen', sans-serif;
  }
  #diplomaStart, #diplomaEnd{
    background-color: #00aced;
    cursor: pointer;
  }
  .diplomaInfo{
    color: white;
    width: 50%;
    font-size: 1.2em;
  }
  .diplomaInfo > i{
    display: block;
  }
</style>

<div class="modal customModal" id="diplomaModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body container-fluid">
        <div class="row text-center">
          <div class="col-sm-4 leftPart">
            <div>
              <img src="/static/assets/images/LOGO_WEB_118_PX.png" alt="Mstaff">
            </div>
            <div class="grow0">
              <p>Indiquez ici vos dîplomes principaux. Vous pouvez en ajouter plusieurs.</p>
            </div>
            <div class="recap grow1">
              <p>Pas de formation ? Pas de problème, <b id="emptyDiploma" class="emptyStep">passez cette étape <i class="fal fa-long-arrow-right"></i></b></p>
              <p>Votre récap</p>
            </div>
            <div class="footer-left">
              <div>
                <img src="/static/assets/images/logo-step4.jpg" alt="Mstaff">
              </div>
              <div class="footer-left-p">
                <div>
                  <p>"Des années pour vous former. 3 secondes pour nous le faire savoir !"</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-8 rightPart">
            <form class="inputsDiploma">
              <div>
                <div class="input-holder">
                  <input class="xpInput" id="diploma" placeholder="Choisissez votre formation">
                </div>
                <div id="diplomaDate">
                  <div>
                    <label for="diplomaStart">Début</label>
                    <input id="diplomaStart" name="diplomaStart" type="text"
                           class="form-control datetimepicker-input" data-toggle="datetimepicker" data-target="#diplomaStart" readonly>
                  </div>
                  <div>
                    <label for="diplomaEnd">Fin</label>
                    <input id="diplomaEnd" name="diplomaEnd" type="text"
                           class="form-control datetimepicker-input" data-toggle="datetimepicker" data-target="#diplomaEnd" readonly>
                  </div>
                </div>
                <div class="diplomaInfo">
                  <i class="fal fa-info-circle"></i>
                  <span>Il s'agit de votre parcours de formation initial. Vous pourrez ajouter vos  <b>diplômes complémentaires (DU ...)</b>  à l'étape suivante.</span>
                </div>
              </div>
            </form>
            <div class="save-holder">
              <div id="saveDiploma">
                <i class="fal fa-check-circle fa-3x"></i>
                <p>Enregistrer</p>
              </div>
            </div>
            <div class="next-modal">
              <i id="toStep5" class="fal fa-arrow-circle-right"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>