<div class="modal customModal" id="diplomaModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body container-fluid">
        <div class="row text-center">
          <div class="col-sm-4 leftPart">
            <div>
              <img src="/static/assets/images/LOGO_WEB_118_PX.png" alt="Mstaff">
            </div>
            <div class="grow0">
              <p>Indiquez ici vos dîplomes principaux. Vous pouvez en ajouter plusieurs.</p>
            </div>
            <div class="recap grow1">
              <p>Pas de formation ? Pas de problème, <b id="emptyDiploma" class="emptyStep">passez cette étape <i class="fal fa-long-arrow-right"></i></b></p>
              <p>Votre récap</p>
            </div>
            <div class="footer-left">
              <div>
                <img src="/static/assets/images/logo-step4.jpg" alt="Mstaff">
              </div>
              <div class="footer-left-p">
                <div>
                  <p>"Des années pour vous former. 3 secondes pour nous le faire savoir !"</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-8 rightPart">
<!--            <form class="inputsXp">-->
<!--              <div class="input-holder">-->
<!--                <input class="xpInput" id="xpEstablishment" placeholder="Dans quelle structure ?">-->
<!--                <i class="fal fa-check"></i>-->

<!--              </div>-->
<!--              <div class="input-holder">-->
<!--                <input class="xpInput" id="xpPost" placeholder="Quel était votre poste ?">-->
<!--                <i class="fal fa-check"></i>-->
<!--              </div>-->
<!--              <div class="radio-holder">-->
<!--                <div id="radioContract">-->
<!--                  <div>-->
<!--                    <input type="radio" id="salaried" name="radioContract">-->
<!--                    <label for="salaried">Salarié</label>-->
<!--                  </div>-->
<!--                  <div>-->
<!--                    <input type="radio" id="internship" name="radioContract">-->
<!--                    <label for="internship">Stage</label>-->
<!--                  </div>-->
<!--                  <div>-->
<!--                    <input type="radio" id="liberal" name="radioContract">-->
<!--                    <label for="liberal">Libéral</label>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="input-holder">-->
<!--                <input class="xpInput" id="xpService" placeholder="Au sein de quel service ?">-->
<!--                <i class="fal fa-check"></i>-->
<!--              </div>-->
<!--              <div id="xpDate">-->
<!--                <div>-->
<!--                  <label for="xpStart">Début</label>-->
<!--                  <input id="xpStart" name="xpStart" type="text"-->
<!--                         class="form-control datetimepicker-input" data-toggle="datetimepicker" data-target="#xpStart" readonly>-->
<!--                </div>-->
<!--                <div>-->
<!--                  <label for="xpEnd">Fin</label>-->
<!--                  <input id="xpEnd" name="xpEnd" type="text"-->
<!--                         class="form-control datetimepicker-input" data-toggle="datetimepicker" data-target="#xpEnd" readonly>-->
<!--                </div>-->
<!--              </div>-->
<!--            </form>-->
            <div class="save-holder">
              <div id="saveXp">
                <i class="fal fa-check-circle fa-3x"></i>
                <p>Enregistrer</p>
              </div>
            </div>
            <div class="next-modal">
              <i id="toStep5" class="fal fa-arrow-circle-right"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>