<div class="modal customModal" id="identityModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body container-fluid">
        <div class="row text-center">
          <div class="col-sm-4 part">
            <div>
              <img src="/static/assets/images/LOGO_WEB_118_PX.png" alt="Mstaff">
            </div>
            <div>
              <p>La clinique {{es.name}} vous propose de postuler <b>sans cv ni lettre de motivation</b> via notre outil</p>
            </div>
            <div class="footer-left">
              <div>
                <img src="/static/assets/images/face-0.jpg" alt="Mstaff">
              </div>
              <div class="footer-left-p">
                <div>
                  <p>"Sans doute la tête que vous venez de faire en arrivant sur cet écran."</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-8 part rightPart">
            <div class="paraph">
              <p>C'est votre toute première fois sur Mstaff ?</p>
              <p>Postulez et créer votre compte candidat.</p>
              <button class="btn btn-success" data-target="#postModal" data-toggle="modal">En tant que...</button>
            </div>
            <div class="paraph">
              <p>Vous avez déjà un compte Mstaff et souhaitez ajouter cet établissement à votre dernier souhait ?</p>
              <button class="btn btn-success">Postuler en 1 clic !</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>