<style>
  .modal-backdrop~.modal-backdrop{
    background: none;
  }
  .modal-backdrop.in{
    opacity: 0.9;
  }
  .customModal.in{
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .customModal > .modal-dialog{
    margin: 0;
    padding: 0;
    max-width: 100vw;
    width: 75vw;
    cursor: auto;
  }
  .customModal > .modal-dialog > .modal-content{
    width: 100%;
    height: 100%;
  }
  .customModal > .modal-dialog > .modal-content >.modal-body{
    padding: 0;
  }
  .customModal > .modal-dialog > .modal-content >.modal-body > .row{
    margin: 0;
    height: 100%;
  }

  p{
    font-size: 2em;
    font-family: 'Oxygen', sans-serif;
  }

  .leftPart{
    display: flex;
    flex-direction: column;
    padding: 3%;
    background-color: white;
    height: 60vh;
  }
  .leftPart > div:nth-child(1){
    margin-bottom: 10%;
  }
  .leftPart > div:nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
  }
  .leftPart > div:nth-child(2) > p:nth-child(1){
    line-height: 1.5 !important;
    color: deepskyblue;
    margin-bottom: 10px;
  }
  .leftPart > div:nth-child(2) > p:nth-child(2){
    font-size: 1.5em;
    color: black;
  }
  .leftPart > div:nth-child(3){
    margin-top: 5%;
  }

  .rightPart{
    background-color: #00aced;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
    height: 60vh;
  }

  .paraph{
    padding: 3%;
    border-bottom: 2px white solid;
    height: 30vh;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }
  .paraph:last-child{
    border-bottom: none;
  }
  .paraph button.btn.btn-success{
    font-size: 1.5em;
    font-weight: bold;
    background-color: #0bcfb4;
    color: white;
    border: none;
    border-radius: 300px;
    padding: 10px 15px;
    margin-top: 5%;
  }


  .footer-left{
    flex-direction: row;
    display: flex;
  }
  .footer-left img{
    width: 100px;
  }
  .footer-left p{
    color: black;
    font-size: 1.5em;
  }
  .footer-left-p{
    flex-direction: column;
    display: flex;
    justify-content: center;
  }
  input::-webkit-input-placeholder{
    color: #e6e6e6;
  }
  input:-moz-placeholder {
    color: #e6e6e6;
  }
</style>

<div class="modal customModal" id="mainModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body container-fluid">
        <div class="row text-center">
          <div class="col-sm-4 leftPart">
            <div>
              <img src="/static/assets/images/LOGO_WEB_118_PX.png" alt="Mstaff">
            </div>
            <div>
              <p>La clinique {{es.name}} vous propose de postuler <b>sans cv ni lettre de motivation</b> via notre outil</p>
            </div>
            <div class="footer-left">
              <div>
                <img src="/static/assets/images/logo-step1.jpg" alt="Mstaff">
              </div>
              <div class="footer-left-p">
                <div>
                  <p>"Sans doute la tête que vous venez de faire en arrivant sur cet écran."</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-8 rightPart">
            <div class="paraph">
              <p>C'est votre toute première fois sur Mstaff ?</p>
              <p>Postulez et créer votre compte candidat.</p>
              <button id="toStep1" class="btn btn-success">En tant que...</button>
            </div>
            <div class="paraph">
              <p>Déjà inscrit ?</p>
              <button class="btn btn-success">Se connecter à mon espace candidat</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>