<style>
  .darkModal > .modal-dialog > .modal-content{
    background-color: transparent;
    box-shadow: none;
    border: none;
  }
  .darkModal > .modal-dialog > .modal-content > .modal-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .selectPost{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
  }
  .selectParaph > p{
    font-size: 3em;
    color: white;
  }
  .select-holder{
    border-bottom: 2px solid white;
  }
  .select-holder > i{
    font-size: 2.2em;
    color: white;
    margin-right: 5%;
  }
  .select-holder > i:last-child{
    display: none;
    margin-left: 5%;
  }
  .selectPost > div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 3%;
  }
  .customInput{
    width: 75%;
    font-size: 3em;
    color: white;
    background: transparent;
    border: none;
  }
  .ui-autocomplete{
    z-index: 9999 !important;
    background: transparent;
    border: none;
  }
  .ui-menu-item-wrapper{
    font-size: 1.5em;
  }
  .ui-menu-item-wrapper.ui-state-active{
    background: transparent;
    border: none;
    color: white;
  }
  .ui-menu-item{
    margin-bottom: 10px !important;
  }
  .ui-menu-item:first-child{
    margin-top: 30px !important;
  }
  .ui-widget.ui-widget-content{
    border: none;
    color: white;
  }
  .next-modal{
    font-size: 2.2em;
    color: white;
  }
  .next-modal > i:last-child{
    margin-left: 92%;
    display: none;
  }
</style>

<div class="modal customModal darkModal" id="postModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="selectPost">
          <div class="selectParaph">
            <p>Vous souhaitez postuler en tant que...</p>
          </div>
          <div class="select-holder">
            <i class="fal fa-search"></i>
            <input class="customInput" id="InputPosts">
            <i class="fal fa-check"></i>
          </div>
          <div class="next-modal">
            <i id="toStep2" class="fal fa-arrow-circle-right"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>