<style>
  .inputsQualification {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  .inputsQualification > div{
    width: 90%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 5%;
  }
  #qualification::placeholder{
    text-align: center;
  }
  #qualificationDate{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }
  #qualificationDate label, #qualificationDate input{
    color: white;
    text-align: center;
    font-size: 1.7em;
    font-family: 'Oxygen', sans-serif;
  }
  #qualificationStart, #qualificationEnd{
    background-color: #00aced;
    cursor: pointer;
  }
</style>

<div class="modal customModal" id="qualificationModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body container-fluid">
        <div class="row text-center">
          <div class="col-sm-8 rightPart">
            <form class="inputsQualification">
              <div>
                <div class="input-holder">
                  <input class="xpInput" id="qualification" placeholder="Choisissez votre diplôme">
                </div>
                <div id="qualificationDate">
                  <div>
                    <label for="qualificationStart">Début</label>
                    <input id="qualificationStart" name="qualificationStart" type="text"
                           class="form-control datetimepicker-input" data-toggle="datetimepicker" data-target="#qualificationStart" readonly>
                  </div>
                  <div>
                    <label for="qualificationEnd">Fin</label>
                    <input id="qualificationEnd" name="qualificationEnd" type="text"
                           class="form-control datetimepicker-input" data-toggle="datetimepicker" data-target="#qualificationEnd" readonly>
                  </div>
                </div>
              </div>
            </form>
            <div class="info">
              <i class="fal fa-info-circle"></i>
              <span>Indiquez ici vos <b>diplômes complémentaires</b> ou bien sélectionnez-les depuis la liste.</span>
            </div>
            <div class="save-holder">
              <div id="saveQualification">
                <i class="fal fa-check-circle fa-3x"></i>
                <p>Enregistrer</p>
              </div>
            </div>
            <div class="next-modal">
              <i id="toStep7" class="fal fa-arrow-circle-right"></i>
            </div>
          </div>
          <div class="col-sm-4 leftPart">
            <div>
              <img src="/static/assets/images/LOGO_WEB_118_PX.png" alt="Mstaff">
            </div>
            <div class="grow0">
              <p>Indiquez ici vos autres diplômes (DU, Certificats Professionnels, ...). Vous pouvez en ajouter plusieurs.</p>
            </div>
            <div class="recap grow1">
              <p>Pas d'autres diplômes ? Pas de problème, <b id="emptyQualification" class="emptyStep">passez cette étape <i class="fal fa-long-arrow-right"></i></b></p>
              <p>Votre récap</p>
            </div>
            <div class="footer-left">
              <div>
                <img src="/static/assets/images/logo-step5.jpg" alt="Mstaff">
              </div>
              <div class="footer-left-p">
                <div>
                  <p>"On est quasi à la moitié, c'est pas le moment de loucher !"</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>