<style>
  .finalRecap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
  }
  .finalRecap-title{
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
  }
  .finalRecap-modal{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    font-size: 1.5em;
    border-bottom: 1px solid;
    justify-content: space-evenly;
    border-top: 1px solid;
    width: 50%;
  }
  .finalRecap-item{
    width: 100%;
    display: flex;
  }
  .finalRecap-item span{
    flex-grow: 7;
    text-align: left;
  }
  .finalRecap-item div{
    flex-grow: 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .finalRecap-item div button{
    font-size: 1.1em;
    color: white;
  }
  .finalRecap-next{
    width: 100%;
    font-size: 2.2em;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-grow: 1;
  }
  .final-green{
    color: #0ECEA4;
  }
  .final-grey{
    color: grey;
  }

</style>

<div class="modal customModal" id="recapModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body container-fluid">
        <div class="row text-center">
          <div class="col-sm-4 leftPart">
            <div>
              <img src="/static/assets/images/LOGO_WEB_118_PX.png" alt="Mstaff">
            </div>
            <div>
              <p>Un récapitulif de votre <b>parcours</b>.</p>
            </div>
            <div class="footer-left">
              <div>
                <img src="/static/assets/images/logo-step7.jpg" alt="Mstaff">
              </div>
              <div class="footer-left-p">
                <div>
                  <p>"Plus qu'un petit clic !"</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-8 rightPart">
            <div class="finalRecap">
              <div class="finalRecap-title">
                <div>Vérifiez vos informations ou modifiez-les si besoin.</div>
                <div>Votre récap</div>
              </div>
              <div class="finalRecap-modal">
                <div class="finalRecap-item">
                  <span>Poste</span>
                  <div>
                    <i class="fas fa-check-circle final-green center-icon"></i>
                    <button class="btn" onclick="loadModal('recapModal','postModal')"><i class="fal fa-edit"></i></button>
                  </div>
                </div>
                <div class="finalRecap-item">
                  <span>Type de contrat</span>
                  <div>
                    <i class="fas fa-check-circle final-green center-icon"></i>
                    <button class="btn" onclick="loadModal('recapModal','contractModal')"><i class="fal fa-edit"></i></button>
                  </div>
                </div>
                <div class="finalRecap-item" id="finalExperience">
                  <span>Expériences</span>
                  <div>
                    <i class="fas fa-check-circle final-grey center-icon"></i>
                    <button class="btn" onclick="loadModal('recapModal','experienceModal')"><i class="fal fa-edit"></i></button>
                  </div>
                </div>
                <div class="finalRecap-item" id="finalDiploma">
                  <span>Formations</span>
                  <div>
                    <i class="fas fa-check-circle final-grey center-icon"></i>
                    <button class="btn" onclick="loadModal('recapModal','diplomaModal')"><i class="fal fa-edit"></i></button>
                  </div>
                </div>
                <div class="finalRecap-item" id="finalQualification">
                  <span>Diplômes</span>
                  <div>
                    <i class="fas fa-check-circle final-grey center-icon"></i>
                    <button class="btn" onclick="loadModal('recapModal','qualificationModal')"><i class="fal fa-edit"></i></button>
                  </div>
                </div>
                <div class="finalRecap-item">
                  <span>Coordonnées</span>
                  <div>
                    <i class="fas fa-check-circle final-green center-icon"></i>
                    <button class="btn" onclick="loadModal('recapModal','identityModal')"><i class="fal fa-edit"></i></button>
                  </div>
                </div>
              </div>
              <div class="finalRecap-next">
                <i id="toStep10" class="fal fa-arrow-circle-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>