<style>

</style>

<div class="modal customModal darkModal" id="serviceModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="selectPost">
          <div class="selectParaph">
            <p>Vous souhaitez travailler dans le service ...</p>
          </div>
          <div class="select-holder">
            <i class="fal fa-search"></i>
            <input class="customInput" id="InputServices">
            <i class="fal fa-check"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>