<li class="nav-item">
  <a class="nav-link{{#ifCond @root.a.main '===' 'profile'}} active{{/ifCond}}" href="/profile">
    <i class="fal fa-user"></i> Mon Profil
  </a>
</li>
<li class="nav-item">
  <a class="nav-link{{#ifCond @root.a.main '===' 'cv'}} active{{/ifCond}}" href="/formations">
    <i class="fal fa-graduation-cap"></i> Formations et expériences
  </a>
</li>
<li class="nav-item">
  <a class="nav-link{{#ifCond @root.a.main '===' 'knowledges'}} active{{/ifCond}}" href="/knowledges">
    <i class="fal fa-cog"></i> Mes compétences
  </a>
</li>
<li class="nav-item">
  <a class="nav-link{{#ifCond @root.a.main '===' 'applications'}} active{{/ifCond}}" href="/applications">
    <i class="fal fa-balance-scale"></i> Mes candidatures
  </a>
</li>
<li class="nav-item">
  <a class="nav-link{{#ifCond @root.a.main '===' 'documents'}} active{{/ifCond}}" href="/documents">
    <i class="fal fa-file"></i> Mes documents
  </a>
</li>
{{!--<li class="nav-item">
  <a class="nav-link{{#ifCond @root.a.main '===' 'history'}} active{{/ifCond}}" href="/history">
    <i class="fal fa-star"></i> Mon historique
  </a>
</li>--}}
<li class="nav-item">
  <a class="nav-link{{#ifCond @root.a.main '===' 'conferences'}} active{{/ifCond}}" href="/conferences">
    <i class="fal fa-comments-alt"></i> Mes entretiens
  </a>
</li>
<li class="nav-item">
  <a class="nav-link{{#ifCond @root.a.main '===' 'pools'}} active{{/ifCond}}" href="/pools">
    <i class="fal fa-user-friends"></i> Mes pools
  </a>
</li>