body {
  display: flex;
  flex-direction: column;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-height: 100vh;
  padding-right: 0 !important;
}

header {
  padding: 0 0 75px !important;
}

section {
  padding: 70px 0 !important;
}

footer {
  width: 100%;
}

a {
  color: #00B7FF;
}

#emailTaken {
  color: red !important;
  display: none;
}

#esList {
  min-height: 500px;
  border: 1px solid #DDD;
  padding: 10px;
  margin: 10px;
  max-height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
  text-align: center;
}

.ten-columns li {
  width: calc(100% / 9.2);
}


/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.no-ui-slider {
  width: 100%;
}

.no-ui-slider .slider-labels {
  list-style: none;
  padding: 0;
  margin-top: 5px;
  margin-left: -3px;
  width: 100%;
  text-align: left;
  font-size: 13px;
}

.no-ui-slider .slider-labels li {
  color: #d3d3d3;
  display: inline;
  float: left;
  cursor: pointer;
}

.no-ui-slider .slider-labels li:nth-last-child(1) {
  position: absolute;
  margin-left: -3px;
  width: 25px;
}

.no-ui-slider .slider-labels li:hover {
  color: #333333;
}

.no-ui-slider .slider-labels li.slideActive {
  color: #333333;
}

.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.noUi-base {
  width: 100%;
  height: 100%;
  position: relative;
}

.noUi-origin {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}

.noUi-stacking + .noUi-origin {
  /* Fix stacking order in IE7, which incorrectly
     creates a new context for the origins. */
  *z-index: -1;
}

.noUi-state-tap .noUi-origin {
  -webkit-transition: left 0.3s, top 0.3s;
  transition: left 0.3s, top 0.3s;
}

/* Slider size and handle placement;
 */
.noUi-horizontal {
  height: 15px;
}

.noUi-horizontal .noUi-handle {
  width: 26px;
  height: 26px;
  left: -13px;
  top: -7px;
  border-radius: 100%;
}

.noUi-horizontal.noUi-extended {
  padding: 0 15px;
}

.noUi-horizontal.noUi-extended .noUi-origin {
  right: -15px;
}

.noUi-vertical {
  width: 18px;
}

.noUi-vertical .noUi-handle {
  width: 20px;
  height: 20px;
  left: -10px;
  top: -6px;
  border-radius: 100%;
}

.noUi-vertical.noUi-extended {
  padding: 15px 0;
}

.noUi-vertical.noUi-extended .noUi-origin {
  bottom: -15px;
}

/* Styling;
 */
.noUi-background {
  background: #FAFAFA;
  box-shadow: inset 0 1px 1px #f0f0f0;
}

.noUi-connect {
  background: #464646;
  box-shadow: inset 0 0 3px rgba(51, 51, 51, 0.45);
  -webkit-transition: background 450ms;
  transition: background 450ms;
}

.noUi-origin {
  border-radius: 10px;
}

.noUi-target {
  border-radius: 10px;
  border: 1px solid #D3D3D3;
}

.noUi-target.noUi-connect {
  box-shadow: inset 0 0 3px rgba(51, 51, 51, 0.45), 0 3px 6px -5px #BBB;
}

/* Handle stripes;
 */
.noUi-handle:before,
.noUi-handle:after {
  display: block;
  position: absolute;
  height: 14px;
  width: 1px;
  background: #E8E7E6;
  left: 14px;
  top: 6px;
}

.noUi-handle:after {
  left: 17px;
}

.noUi-vertical .noUi-handle:before,
.noUi-vertical .noUi-handle:after {
  width: 14px;
  height: 1px;
  left: 6px;
  top: 14px;
}

.noUi-vertical .noUi-handle:after {
  top: 17px;
}

/* Disabled state;
 */
[disabled].noUi-connect,
[disabled] .noUi-connect {
  background: #B8B8B8;
}

[disabled] .noUi-handle {
  cursor: not-allowed;
}


.main-content {
  flex: 1;
}

.navbar {
  position: unset !important;
}

.hidden {
  display: none;
}

.fa-star.checked {
  color: orange;
}

.autocomplete {
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.wizard {
  margin: 20px auto;
  background: #fff;
}

.wizard .nav-tabs {
  position: relative;
  margin-bottom: 0;
  border-bottom-color: #e0e0e0;
}

.wizard > div.wizard-inner {
  position: relative;
}

.connecting-line {
  height: 2px;
  background: #e0e0e0;
  position: absolute;
  width: 80%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
  color: #555555;
  cursor: default;
  border: 0;
  border-bottom-color: transparent;
}

span.round-tab {
  width: 70px;
  height: 70px;
  line-height: 70px;
  display: inline-block;
  border-radius: 100px;
  background: #fff;
  border: 2px solid #e0e0e0;
  z-index: 2;
  position: absolute;
  left: 0;
  text-align: center;
  font-size: 25px;
}

span.round-tab i {
  color: #555555;
}

.wizard li.active span.round-tab {
  background: #fff;
  border: 2px solid #5bc0de;
}

.wizard li.active span.round-tab i {
  color: #5bc0de;
}

span.round-tab:hover {
  color: #333;
  border: 2px solid #333;
}

.wizard .nav-tabs-wizard > li {
  width: 25%;
}

.wizard li:after {
  content: " ";
  position: absolute;
  left: 46%;
  opacity: 0;
  margin: 0 auto;
  bottom: 0px;
  border: 5px solid transparent;
  border-bottom-color: #5bc0de;
  transition: 0.1s ease-in-out;
}

.wizard li.active:after {
  content: " ";
  position: absolute;
  left: 48%;
  opacity: 1;
  margin: 0 auto;
  bottom: 10px;
  border: 10px solid transparent;
  border-bottom-color: #5bc0de;
}

.wizard .nav-tabs-wizard > li a {
  width: 70px;
  height: 70px;
  margin: 20px auto;
  border-radius: 100%;
  padding: 0;
}

.wizard .nav-tabs-wizard > li a:hover {
  background: transparent;
}

.wizard .tab-pane {
  position: relative;
}

.wizard h3 {
  margin-top: 0;
}

.small-box-es-add {
  font-size: 10px;
}

.bg-gray-light {
  background-color: #f7f7f7;
}

.small-box {
  border-radius: 2px;
  position: relative;
  display: block;
  margin-bottom: 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  height: 60px;
  padding: 15px;
}

.text-blue {
  color: #0073b7 !important;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.panel-resume {
  padding: 0 !important;
}

.panel-resume > .panel-heading {
  color: white;
  background-color: #4BB1D1;
  border-color: #bce8f1;
}

.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.searchbar-wrapper-input {
  /*padding: 30px 25px 25px 35px;*/
  border-radius: 2px 2px 2px 2px;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #DDD;
  padding: 12px 10px 10px 40px;
  height: 62px;
  background-color: white;
}

.searchbar-wrapper-input-slim {
  padding: 0px 0px 0px 35px;
  border-radius: 2px 2px 2px 2px;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #DDD;
  height: 62px;
  background-color: white;
}

.searchbar-wrapper-slim:before {
  font-family: 'Font Awesome 5 Pro';
  color: #a6a6a6;
  position: absolute;
  left: 9px;
  content: "\f002";
  top: 4px;
  font-size: 22px;
}

.searchbar-wrapper:before {
  font-family: 'Font Awesome 5 Pro';
  color: #a6a6a6;
  position: absolute;
  left: 24px;
  content: "\f002";
  top: 20px;
  font-size: 22px;
}

.searchbar-wrapper.focus-input:before {
  color: #000;
  top: 15px;
}

.searchbar-wrapper-label {
  position: absolute;
  top: 0;
  padding: 16px 0 0 24px;
  transition: all 200ms;
  opacity: 0.5;
  left: 25px;
}

.searchbar-select-mode {
  padding-left: 5px;
  margin: 0px;
  position: absolute;
  width: 96%;
  max-height: 400px;
  overflow-y: auto;
  margin-top: 0px;
  z-index: 9999999999;
}

.searchbar-select-mode-clean {
  padding-left: 5px;
  margin: 0px;
  position: absolute;
  width: 83%;
  max-height: 400px;
  overflow-y: auto;
  margin-top: 33px;
  z-index: 9999999999;
  border: 1px solid #DDD;
}


.searchbar-select-mode li {
  margin-top: 5px;
}

.searchbar-select-mode li:hover {
  background: #F0F0F0;
  cursor: pointer;
}

.searchbar-wrapper.focus-input .searchbar-wrapper-label {
  font-size: 11px;
  transform: translate3d(0, -45%, 0);
  opacity: 1;
  color: #a6a6a6;
}

.rank-label-container {
  margin-top: -13px;
  text-align: center;
}

.label.label-default.rank-label {
  background-color: #59d6f9;
  padding: 1px 10px 1px 10px;
  border-radius: 27px;
}

div.available {
  margin: 5px;
  background: #04e900;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  border: 2px solid #04e900;
  display: inline-flex;
}

div.unavailable {
  margin: 5px;
  background: #ff2a21;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  border: 2px solid #ff2a21;
  display: inline-flex;
}

span.text-available {
  color: #04e900;
}

span.text-unavailable {
  color: #ff2a21;
}

input#post.ui-autocomplete-input {
  background-color: white !important;
  width: 75%;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0
  }
  to {
    bottom: 0px;
    opacity: 1
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0
  }
  to {
    bottom: 0;
    opacity: 1
  }
}

@media (max-width: 585px) {
  .wizard {
    width: 90%;
    height: auto !important;
  }

  span.round-tab {
    font-size: 16px;
    width: 50px;
    height: 50px;
    line-height: 50px;
  }

  .wizard .nav-tabs > li a {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }

  .wizard li.active:after {
    content: " ";
    position: absolute;
    left: 35%;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.drag-list {
  display: flex;
  align-items: flex-start;
}

@media (max-width: 690px) {
  .drag-list {
    display: block;
  }
}

.drag-column {
  flex: 1;
  margin: 0 10px;
  position: relative;
  background: rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

@media (max-width: 690px) {
  .drag-column {
    margin-bottom: 30px;
  }
}

.drag-column h5 {
  margin: 0;
  text-transform: uppercase;
  font-weight: 600;
}

.drag-column-on-hold .drag-column-header,
.drag-column-on-hold .is-moved,
.drag-column-on-hold .drag-options {
  background: #FB7D44;
}

.drag-column-in-progress .drag-column-header,
.drag-column-in-progress .is-moved,
.drag-column-in-progress .drag-options {
  background: #2A92BF;
}

.drag-column-needs-review .drag-column-header,
.drag-column-needs-review .is-moved,
.drag-column-needs-review .drag-options {
  background: #F4CE46;
}

.drag-column-approved .drag-column-header,
.drag-column-approved .is-moved,
.drag-column-approved .drag-options {
  background: #00B961;
}

.drag-column-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.drag-inner-list {
  min-height: 50px;
}

.drag-item {
  margin: 10px;
  height: 100px;
  background: rgba(255, 255, 255, 0.8);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.drag-item.is-moving {
  transform: scale(1.05);
  background: rgba(255, 255, 255, 0.8);
}

.drag-header-more {
  cursor: pointer;
}

.drag-options {
  position: absolute;
  top: 44px;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  transform: translateX(100%);
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.drag-options.active {
  transform: translateX(0);
  opacity: 1;
}

.drag-options-label {
  display: block;
  margin: 0 0 5px 0;
}

.drag-options-label input {
  opacity: 0.6;
}

.drag-options-label span {
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 400;
  margin-left: 5px;
}

/* Dragula CSS  */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  list-style-type: none;
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-transit {
  opacity: 0.2;
}
