$backgroundColorDark:#323a45;
$backgroundColorLight:#333333;

$borderColorLight:#e1e1e1;

$fontColorLight:#ffffff;
$fontColorLightFade:#cdcdcd;
$fontColorDark:#323a45;
$fontColorDarkFade:#696969;

$mainColorBlue:#03a9de;
$mainColorGreen:#0ecea4;
$mainColorPink:#e91e63;

@import "lib/reset.css";
@import "lib/grid.min.css";

@import "global/base.scss";
@import "global/fonts.scss";

@import "components/buttons.scss";
@import "components/cards.scss";
@import "components/content-type.scss";
@import "components/image.scss";
@import "components/layout.scss";
@import "components/map.scss";
@import "components/pages.scss";
@import "components/tags.scss";
@import "components/titles.scss";