@import "../global/colors.scss";

body.page-subdomain-establishment{

	.page-banner__body{
		align-items:flex-end;

		.container{
			text-align:right;

			.banner-info-card{
				display:inline-block;
				text-align:left;
				padding:0 1rem;
				font-size:.9em;
				-webkit-box-shadow:0 10px 30px $backgroundColorDark, 0 10px 5px transparentize($backgroundColorDark, .5);
				-moz-box-shadow:0 10px 30px $backgroundColorDark, 0 10px 5px transparentize($backgroundColorDark, .5);
				box-shadow:0 10px 30px $backgroundColorDark, 0 10px 5px transparentize($backgroundColorDark, .5);
			}
		}
	}

}