@import "../global/colors.scss";

body.page-subdomain-establishment{

	.show-map-button, .map-container{
		display:none;
	}

	.show-map-col{
		background-color:white;
		-webkit-transition:all .5s ease;
		-moz-transition:all .5s ease;
		-ms-transition:all .5s ease;
		-o-transition:all .5s ease;
		transition:all .5s ease;
		z-index:1;
	}

	@media (max-width: 767px){
		.show-map-button{
			display:none;
		}
	}

}