<div class="container-fluid">
  <div class="row align-items-center justify-content-center">
    <div class="col-12 col-md-5 col-lg-6 col-xl-6 px-lg-6 my-5" id="atsPart">
      <div class="col-12" id="loadingCandidates">
        <h1 class="text-center" style="padding-top: 30px">
          Chargement du formulaire en cours...
          <div class="spinner-border text-primary text-center" role="status">
            <span class="sr-only">Veuillez patienter quelques instants</span>
          </div>
        </h1>
      </div>

    </div>
    <div class="col-12 col-md-7 col-lg-6 col-xl-6 d-none d-lg-block">
      <!-- Image -->
      <div class="bg-cover vh-100 mt-n1 mr-n3"
           style="background-image: url(/static/assets/images/login-cover-hd.jpg);">
      </div>
    </div>
  </div>
</div>
<script>
  let atsData = {
    test: 'ceci est un test',
  };

  $(document).ready(() => {
    loadTemplate('/static/views/ats/main.hbs', {atsData, test: {}}, (html) => {
      $('#atsPart').html(html);
    })
  });
</script>