<div class="card">
    <div class="card-content">
        <form method="post">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <legend>
                <h5 style="text-align: center">Créer un nouveau type d'établissement</h5>
            </legend>
            <div class="row">
                <div class="form-group col-3">
                    <label for="name">Nom</label>
                    <input type="text" name="name" class="form-control">
                </div>
            </div>
            <div class="clearfix">
                <button type="submit" class="btn btn-primary pull-right">Enregistrer</button>
            </div>
        </form>
    </div>
</div>

<script>

</script>