<div class="container-fluid">
  <div class="row align-items-center justify-content-center">
    <div class="col-12 col-md-5 col-lg-6 col-xl-4 px-lg-6 my-5">
      <a href="/"><i class="fal fa-chevron-circle-left fa-2x"></i></a>
      <!-- Heading -->
      <h1 class="display-4 text-center mb-3">
        Félicitations ! <br>Vous venez de rejoindre Mstaff.
      </h1>

      <!-- Subheading -->
      <p class="text-muted text-center mb-5">
        Nous venons de vous envoyer un mail de confirmation.
        Une fois votre compte validé, vous pourrez compléter votre profil, ajouter votre photo et postuler dans les établissements de votre choix.
      </p>

      <a href="/" class="btn btn-lg btn-block btn-primary mb-3">
        Retour à l'accueil
      </a>
    </div>
    <div class="col-12 col-md-7 col-lg-6 col-xl-8 d-none d-lg-block">
      <!-- Image -->
      <div class="bg-cover vh-100 mt-n1 mr-n3"
           style="background-image: url(/static/assets/images/email-sent.jpg);"></div>
    </div>
  </div>
</div>