<div class="row">
  <div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3">
    <form action="" method="post">
      <input type="hidden" name="_csrf" value="{{csrfToken}}" />
      <div class="card" data-background="color" data-color="blue">
        <div class="card-content">
          <div class="form-group password">
            <label for="password">{{tr.pages.register.form_password_label}}</label>
            <input id="password" name="password" type="password"
                   placeholder="{{tr.pages.register.form_password_label_ph}}"
                   class="form-control input-md" required="">
          </div>

        </div>
        <div class="card-footer text-center">
          <button class="btn btn-info float-md-right" type="submit">
            Valider
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<script>
  $('#email').blur(() => {
    let email = $('#email').val();
    $.get(`/api/user/emailAvailable/${email}`, (result) => {
      if (!result.available) {
        $('.form-group.email').addClass('has-error');
        $('#emailTaken').show();
      } else {
        $('.form-group.email').addClass('has-success').removeClass('has-error');
        $('#emailTaken').hide();
      }
    }).catch(error => {
      $('#emailTaken').hide();
      $('.form-group.email').addClass('has-error').removeClass('has-success');
    });
  })
</script>