<style>
  .bad-rule {
    color: red;
  }

  .good-rule {
    color: green;
  }
</style>
<div class="container-fluid">
  <div class="row align-items-center justify-content-center">
    <div class="col-12 col-md-5 col-lg-6 col-xl-4 px-lg-6 my-5">
      <!-- Heading -->
      <h1 class="display-4 text-center mb-3">
        Formulaire de réinitialisation de votre mot de passe
      </h1>

      <!-- Subheading -->
      <p class="text-muted text-center mb-5">
        Veuillez indiquer votre nouveau mot de passe.
      </p>

      <div class="card bg-light border ml-md-4">
        <div class="card-body">
          <p class="mb-2">
            Exigences de mot de passe
          </p>

          <p class="small text-muted mb-2">
            Pour créer un nouveau mot de passe, vous devez satisfaire à toutes les exigences suivantes:
          </p>
          <ul class="small text-muted pl-4 mb-0">
            <li id="length" class="bad-rule">
              Minimum 8 caractères.
            </li>
            <li id="uppercase" class="bad-rule">
              Au moins une majuscule.
            </li>
            <li id="symbol" class="bad-rule">
              Au moins un caractère spécial.
            </li>
            <li id="number" class="bad-rule">
              Au moins un chiffre
            </li>
          </ul>
        </div>
      </div>

      <!-- Form -->
      <form action="" method="post">
        <input type="hidden" name="_csrf" value="{{csrfToken}}"/>

        <div class="form-group email">
          <label for="password">{{tr.pages.register.form_password_label}}</label>
          <input id="password" name="password" type="password"
                 placeholder="{{tr.pages.register.form_password_label_ph}}"
                 class="form-control input-md" required="">
        </div>

        <div class="form-group email">
          <label for="passwordConfirm">Confirmation*</label>
          <input id="passwordConfirm" name="passwordConfirm" type="password"
                 placeholder="Confirmer votre mot de passe"
                 class="form-control input-md" required="">
        </div>

        <!-- Submit -->
        <button class="btn btn-lg btn-block btn-primary mb-3">
          Réinitialiser mon mot de passe
        </button>

        <!-- Link -->
        <p class="text-center">
          <small class="text-muted text-center">
            Vous vous souvenez de votre mot de passe ? <a href="/login">Se connecter</a>.
          </small>
        </p>
      </form>
    </div>
    <div class="col-12 col-md-7 col-lg-6 col-xl-8 d-none d-lg-block">
      <!-- Image -->
      <div class="bg-cover vh-100 mt-n1 mr-n3"
           style="background-image: url(/static/assets/images/password-reset.jpg);"></div>
    </div>
  </div>
</div>
<script>
  let ValidatePassword = function () {
    let rules = [{
      Pattern: '[A-Z]',
      Target: 'uppercase'
    }, {
      Pattern: '[a-z]',
      Target: 'lowercase'
    }, {
      Pattern: '[0-9]',
      Target: 'number'
    }, {
      Pattern: '[!@@#$%^&*]',
      Target: 'symbol'
    }];

    let password = $(this).val();

    $('#length').removeClass(password.length > 6 ? 'bad-rule' : 'good-rule');
    $('#length').addClass(password.length > 6 ? 'good-rule' : 'bad-rule');

    for (let i = 0; i < rules.length; i++) {
      $('#' + rules[i].Target).removeClass(new RegExp(rules[i].Pattern).test(password) ? 'bad-rule' : 'good-rule');
      $('#' + rules[i].Target).addClass(new RegExp(rules[i].Pattern).test(password) ? 'good-rule' : 'bad-rule');
    }
  };

  $(document).ready(() => {
    $('#password').on('keyup', ValidatePassword);
  });
</script>