<style>
  .underline{
    text-decoration: underline;
  }
</style>

<a href="#" id="backToPost"><i class="fal fa-arrow-circle-left fa-2x"></i></a>
<!-- Heading -->

<div class="row justify-content-center mb-4 mb-md-6">
  <h1 class="text-center col-12 underline">Que recherchez-vous ?</h1>
</div>

<div class="row justify-content-center">
  <div class="card text-center col-6">
    <div class="card-body">
      <i class="fal fa-infinity fa-3x"></i>
      <h1 class="card-title">Un travail durable</h1>
      <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="cdiToggle" name="cdi">
        <label class="custom-control-label" for="cdiToggle"></label>
      </div>

    </div>
  </div>
  <div class="w-100"></div>

  <div class="card text-center col-6">
    <div class="card-body">
      <i class="fal fa-calendar-alt fa-3x"></i>
      <h1 class="card-title">Des missions ponctuelles</h1>
      <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="vacationToggle" name="vacation">
        <label class="custom-control-label" for="vacationToggle"></label>
      </div>
    </div>
  </div>
  <div class="w-100"></div>

  <div class="card text-center col-6">
    <div class="card-body">
      <i class="fal fa-smile fa-3x"></i>
      <h1 class="card-title">Un stage</h1>
      <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="internshipToggle" name="internship">
        <label class="custom-control-label" for="internshipToggle"></label>
      </div>
    </div>
  </div>
  <div class="w-100"></div>
</div>

<div class="row justify-content-end">
  <a href="#" id="toTime"><i class="fal fa-arrow-circle-right fa-2x"></i></a>
</div>


<script>
  $('#backToPost').click(function() {
    loadTemplate('/static/views/ats/post.hbs', {candidateDatas, databaseDatas}, (html) => {
      $('#atsPart').html(html);
    })
  });

  $('#toTime').click(function() {
    let template = 'cdiTime';
    // let template = 'internshipTime';
    //TODO if toggle = travail durable : template = cdiTime.hbs
    //TODO else toggle = stage : template = internshipTime.hbs
    //TODO else toggle = missions ponctuelles : template = experience.hbs

    loadTemplate(`/static/views/ats/${template}.hbs`, {candidateDatas, databaseDatas}, (html) => {
      $('#atsPart').html(html);
    });
    //TODO if toggle = travail durable :

  });
</script>