<style>
  .underline{
    text-decoration: underline;
  }
  .custom-cursor{
    cursor: pointer;
  }
</style>

{{log databaseDatas}}
{{log candidateDatas}}

<a href="#" id="backToContract"><i class="fal fa-arrow-circle-left fa-2x"></i></a>

<nav id="recap" class="navbar navbar-vertical fixed-right navbar-expand-md navbar-light d-none">
  <i class="fal fa-arrow-alt-from-left custom-cursor closeRecap"></i>
  <h2 class="text-center underline">Aperçu de vos expériences</h2>
</nav>

<form>
  <div class="form-group">
    <label for="xpEstablishment">Dans quelle structure ?</label>
    <input type="text" class="form-control" id="xpEstablishment">
  </div>

  <div class="form-group">
    <label for="xpPost">Quel était votre poste ?</label>
    <input type="text" class="form-control" id="xpPost">
  </div>

  <label for="radioContract">En tant que :</label>
  <div id="radioContract" class="form-group ">
    <div class="card">
      <div class="card-body">
        <div class="row justify-content-around">
          <span class="col-4 text-center">
            <input type="radio" id="salaried" name="radioContract">
            <label for="salaried">Salarié</label>
          </span>
          <span class="col-4 text-center">
            <input type="radio" id="internship" name="radioContract">
            <label for="internship">Stage</label>
          </span>
          <span class="col-4 text-center">
            <input type="radio" id="liberal" name="radioContract">
            <label for="liberal">Libéral</label>
          </span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="xpService">Au sein de quel service ?</label>
      <input type="text" class="form-control" id="xpService">
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-6 text-center">
          <label for="xpStart">Début</label>
          <input id="xpStart" name="xpStart" type="text"
                 class="form-control datetimepicker-input" readonly>
        </div>
        <div class="col-6 text-center">
          <label for="xpEnd">Fin</label>
          <input id="xpEnd" name="xpEnd" type="text"
                 class="form-control datetimepicker-input" readonly>
            <input id="xpOngoing" type="checkbox">
            <label for="xpOngoing">Actuellement en poste</label>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="row text-center justify-content-center">
  <div class="custom-cursor save">
    <i class="fal fa-check-circle fa-2x col-12"></i>
    <p class="col-12">Enregistrer</p>
  </div>
</div>

<div class="row justify-content-end">
  <a href="#" id="toDiploma"><i class="fal fa-arrow-circle-right fa-2x"></i></a>
</div>

<script>

  $('.save').click(function() {
      $('#recap').addClass('d-lg-block');
  });

  $('.closeRecap').click(function() {
    $('#recap').removeClass('d-lg-block');
  });

  $('#backToContract').click(function() {
    loadTemplate('/static/views/ats/contract.hbs', {candidateDatas, databaseDatas, arrays}, (html) => {
      $('#atsPart').html(html);
    })
  });

  $('#toDiploma').click(function() {
    loadTemplate('/static/views/ats/diploma.hbs', {candidateDatas, databaseDatas, arrays}, (html) => {
      $('#atsPart').html(html);
    })
  });
</script>