<a href="#" id="backToContract"><i class="fal fa-arrow-circle-left fa-2x"></i></a>

<div class="row justify-content-around mb-4">
  <div class="col-6 text-center">
    <label for="start">Du :</label>
    <input id="start" name="start" type="text"
           class="form-control datetimepicker-input" data-toggle="datetimepicker" data-target="#start" readonly>
  </div>
  <div class="col-6 text-center">
    <label for="end">Au :</label>
    <input id="end" name="end" type="text"
           class="form-control datetimepicker-input" data-toggle="datetimepicker" data-target="#end" readonly>
  </div>
</div>

<div class="row justify-content-end">
  <a href="#" id="toExperience"><i class="fal fa-arrow-circle-right fa-2x"></i></a>
</div>


<script>
  $('#backToContract').click(function() {
    loadTemplate('/static/views/ats/contract.hbs', {candidateDatas, databaseDatas}, (html) => {
      $('#atsPart').html(html);
    })
  });

  $('#toExperience').click(function() {
    loadTemplate('/static/views/ats/experience.hbs', {candidateDatas, databaseDatas}, (html) => {
      $('#atsPart').html(html);
    })
  });
</script>