<a href="/"><i class="fal fa-arrow-circle-left fa-2x"></i></a>

<div class="row justify-content-center mb-6">
  <h1 class="text-center col-12">
    C'est votre toute première fois sur Mstaff ?
  </h1>
  <h1 class="text-center col-12">
    Postulez et créez votre compte candidat.
  </h1>
  <button id="toPost" type="button" class="btn btn-primary">En tant que...</button>
</div>

<div class="row justify-content-center mb-6">
  <h1 class="text-center col-12">Déjà inscrit ?</h1>
  <button type="button" class="btn btn-primary"
          onclick="$(location).attr('href', 'https://v2.mstaff.co/login');">Se connecter à mon espace candidat</button>
</div>

<script>
  $('#toPost').click(function() {
    loadTemplate('/static/views/ats/post.hbs', {atsData, test: {}}, (html) => {
      $('#atsPart').html(html);
    })
  });
</script>