<a href="#" id="backToMain"><i class="fal fa-arrow-circle-left fa-2x"></i></a>

<form>
  <div class="form-group">
    <label for="InputPosts">Poste* </label>
    <input type="text" class="form-control" id="InputPosts" value="{{candidateDatas.application.post}}">
  </div>
  <div class="form-group">
    <label for="InputServices">Service (facultatif)</label>
    <select class="form-control" data-toggle="select" multiple id="InputServices"></select>
  </div>
</form>

<div class="row justify-content-end">
  <a href="#" id="toContract"><i class="fal fa-arrow-circle-right fa-2x"></i></a>
</div>

<script src="/static/assets/dist/js/ats_post.min.js"></script>