<div class="row justify-content-between align-items-center openRecap">
  <i id="backToDiploma" class="fal fa-arrow-circle-left fa-2x custom-cursor"></i>
  <div class="text-center col-3 d-none d-lg-block custom-cursor openRecap">
    <i class="fal fa-low-vision col-5"></i>
    <p>Afficher mes diplômes</p>
  </div>
</div>

<nav id="recap" class="navbar navbar-vertical fixed-right navbar-expand-md navbar-light d-none">
  <i class="fal fa-arrow-alt-from-left custom-cursor closeRecap"></i>
  <h2 class="text-center underline recap">Aperçu de vos diplômes</h2>
</nav>

<div class="height-80 d-flex flex-column justify-content-center">
  <form id="qualificationForm">
    <div class="form-group text-center">
      <label for="diploma">Quels sont vos diplômes complémentaires ?</label>
      <input type="text" class="form-control white" id="qualification">
    </div>

    <div id="diplomaDate" class="row justify-content-around">
      <div class="col-6 text-center">
        <label for="qualificationStart">Début</label>
        <input id="qualificationStart" name="qualificationStart" type="text"
               class="form-control datetimepicker-input text-center" readonly>
      </div>
      <div class="col-6 text-center">
        <label for="qualificationEnd">Fin</label>
        <input id="qualificationEnd" name="qualificationEnd" type="text"
               class="form-control datetimepicker-input text-center" readonly>
      </div>
    </div>
    <div class="row justify-content-center mt-5">
      <i class="fal fa-info-circle col-12 text-center"></i>
      <div class="col-9 text-center">
        <p>Indiquez ici vos autres <b>diplômes</b> et <b>certifications</b>.</p>
      </div>
    </div>
  </form>

  <div class="text-center mt-5">
    <button class="btn btn-success save">Ajouter</button>
  </div>
</div>
<div class="row justify-content-end">
  <div class="custom-cursor" id="toSkill"><i class="fal fa-arrow-circle-right fa-2x"></i></div>
</div>

<script src="/assets/dist/js/ats_qualification.min.js"></script>