<style>
  .final-green{
    color: #0ECEA4;
  }
  .final-grey{
    color: grey;
  }
</style>

<i id="backToIdentity" class="fal fa-arrow-circle-left fa-2x custom-cursor"></i>

<div class="height-80 d-flex flex-column justify-content-center">
  <div class="row justify-content-center">
    <div class="text-center">
      <h2>Vérifiez vos informations ou modifiez-les si besoin.</h2>
    </div>
  </div>

  <div class="row col-12 justify-content-center">
    <h2 class="underline">Récapitulatif</h2>

    <div class="w-100"></div>
    <div class="row col-md-6 col-8">
      <div class="col-md-8 col-6 text-left">
        <span class="mr-4">Poste</span>
      </div>
      <div class="col-md-4 col-6 text-right">
     <span>
        <i class="fas fa-check-circle final-green mr-1"></i>
        <i class="fal fa-edit custom-cursor"></i>
      </span>
      </div>
    </div>

    <div class="w-100"></div>
    <div class="row col-md-6 col-8">
      <div class="col-md-8 col-6 text-left">
        <span class="mr-4">Contrat</span>
      </div>
      <div class="col-md-4 col-6 text-right">
     <span>
        <i class="fas fa-check-circle final-green mr-1"></i>
        <i class="fal fa-edit custom-cursor"></i>
      </span>
      </div>
    </div>

    <div class="w-100"></div>
    <div class="row col-md-6 col-8">
      <div class="col-md-8 col-6 text-left">
        <span class="mr-4">Expériences</span>
      </div>
      <div class="col-md-4 col-6 text-right">
     <span>
        <i class="fas fa-check-circle final-green mr-1"></i>
        <i class="fal fa-edit custom-cursor"></i>
      </span>
      </div>
    </div>

    <div class="w-100"></div>
    <div class="row col-md-6 col-8">
      <div class="col-md-8 col-6 text-left">
        <span class="mr-4">Formations</span>
      </div>
      <div class="col-md-4 col-6 text-right">
     <span>
        <i class="fas fa-check-circle final-green mr-1"></i>
        <i class="fal fa-edit custom-cursor"></i>
      </span>
      </div>
    </div>

    <div class="w-100"></div>
    <div class="row col-md-6 col-8">
      <div class="col-md-8 col-6 text-left">
        <span class="mr-4">Diplômes</span>
      </div>
      <div class="col-md-4 col-6 text-right">
     <span>
        <i class="fas fa-check-circle final-green mr-1"></i>
        <i class="fal fa-edit custom-cursor"></i>
      </span>
      </div>
    </div>

    <div class="w-100"></div>
    <div class="row col-md-6 col-8">
      <div class="col-md-8 col-6 text-left">
        <span class="mr-4">Compétences</span>
      </div>
      <div class="col-md-4 col-6 text-right">
     <span>
        <i class="fas fa-check-circle final-green mr-1"></i>
        <i class="fal fa-edit custom-cursor"></i>
      </span>
      </div>
    </div>

    <div class="w-100"></div>
    <div class="row col-md-6 col-8">
      <div class="col-md-8 col-6 text-left">
        <span class="mr-4">Coordonnées</span>
      </div>
      <div class="col-md-4 col-6 text-right">
     <span>
        <i class="fas fa-check-circle final-green mr-1"></i>
        <i class="fal fa-edit custom-cursor"></i>
      </span>
      </div>
    </div>

  </div>
</div>

<div class="row justify-content-end">
  <div class="custom-cursor" id="toLegal"><i class="fal fa-arrow-circle-right fa-2x"></i></div>
</div>


<script>
  $('#backToIdentity').click(function() {
    loadTemplate('/static/views/ats/identity.hbs', {candidateDatas, databaseDatas, arrays}, (html) => {
      $('#atsPart').html(html);
    })
  });

  $('#toLegal').click(function() {
    loadTemplate('/static/views/ats/legal.hbs', {candidateDatas, databaseDatas, arrays}, (html) => {
      $('#atsPart').html(html);
    })
  });
</script>