.button{
	display:inline-block;
	padding:1rem;
	text-align:center;
	text-transform:uppercase;
	color:$fontColorLight;
	font-weight:bold;
	font-size:.85em;
	cursor:pointer;
	-webkit-transition:background-color .2s ease;
	-moz-transition:background-color .2s ease;
	-ms-transition:background-color .2s ease;
	-o-transition:background-color .2s ease;
	transition:background-color .2s ease;

	&.button-blue{
		background-color:$mainColorBlue;

		&:hover{
			background-color:darken($mainColorBlue, 10%);
		}
	}
	&.button-green{
		background-color:$mainColorGreen;

		&:hover{
			background-color:darken($mainColorGreen, 10%);
		}
	}
	&.button-pink{
		background-color:$mainColorPink;

		&:hover{
			background-color:darken($mainColorPink, 10%);
		}
	}

	&.button-fluid{
		display:block;
	}

	&.button-small{
		padding:.75rem;
	}

	&.button-big{
		padding:1.25rem;
		font-size:1.25em;
		font-family: 'Josefin Sans', Verdana, Arial, sans-serif;
	}

	&.button-icon-big{
		i{
			font-size:1.25em;
		}
	}

	&.button-icon-only{
		padding-left:1rem;
		padding-right:1rem;
		i{
			margin:0;
		}
	}

}