.page-header{
	position:fixed;
	left:0;
	right:0;
	top:0;
	padding:1rem 0;
	background-color:$backgroundColorDark;
	color:$fontColorLight;
	z-index:999;

	.header-logo{
		width:80px;
	}
	.header-title{
		text-transform:uppercase;
		font-size:1.5rem;
		white-space:nowrap;
		font-family: 'Josefin Sans', Verdana, Arial, sans-serif;
	}
	.header-title-label{
		display:block;
		margin-bottom:.5rem;
		font-size:.7em;
		color:$fontColorLightFade;
	}

}

.page-banner{
	position:relative;
	overflow:hidden;

	.page-banner__image{
		max-height:500px;
	}

	.page-banner__shadow{
		position:absolute;
		left:-50px;
		right:-50px;
		top:0;
		bottom:0;
		-webkit-box-shadow:inset 0 0 50px transparentize($backgroundColorDark, .7);
		-moz-box-shadow:inset 0 0 50px transparentize($backgroundColorDark, .7);
		box-shadow:inset 0 0 50px transparentize($backgroundColorDark, .7);
	}

	.page-banner__body{
		position:absolute;
		top:0;
		bottom:0;
		left:0;
		right:0;
		display:flex;
		align-items:center;
	}
}

.page-filters{
	margin-bottom:2rem;
}

.page-footer{
	padding:.75rem 0;
	background-color:$backgroundColorDark;
	text-align:center;

	img{
		max-height:25px;
	}
}
