.page-header{

	.header-logo{
		width:80px;
	}
	.header-title{
		text-transform:uppercase;
		font-size:1.5rem;
		white-space:nowrap;
		font-family: 'Josefin Sans', Verdana, Arial, sans-serif;
	}
	.header-title-label{
		display:block;
		margin-bottom:.5rem;
		font-size:.7em;
		color:$fontColorLightFade;
	}

}

.page-banner{
	position:relative;
	overflow:hidden;

	.page-banner__image{
		max-height:500px;
	}

	.page-banner__shadow{
		position:absolute;
		left:-50px;
		right:-50px;
		top:0;
		bottom:0;
		-webkit-box-shadow:inset 0 0 50px transparentize($backgroundColorDark, .7);
		-moz-box-shadow:inset 0 0 50px transparentize($backgroundColorDark, .7);
		box-shadow:inset 0 0 50px transparentize($backgroundColorDark, .7);
	}

	.page-banner__body{
		position:absolute;
		top:0;
		bottom:0;
		left:0;
		right:0;
		display:flex;
		align-items:flex-end;

		.container{
			text-align:right;

			.banner-info-card{
				display:inline-block;
				text-align:left;
				padding:0 1rem;
				font-size:.9em;
				-webkit-box-shadow:0 10px 30px $backgroundColorDark, 0 10px 5px transparentize($backgroundColorDark, .5);
				-moz-box-shadow:0 10px 30px $backgroundColorDark, 0 10px 5px transparentize($backgroundColorDark, .5);
				box-shadow:0 10px 30px $backgroundColorDark, 0 10px 5px transparentize($backgroundColorDark, .5);
			}
		}
	}
}

.page-filters{
	margin-bottom:2rem;
}

.page-footer{
	padding:.75rem 0;
	background-color:$backgroundColorDark;
	text-align:center;

	img{
		max-height:25px;
	}
}
