.text-blue{
    color:$mainColorBlue;
}
.text-green{
    color:$mainColorGreen;
}
.text-pink{
    color:$mainColorPink;
}

.text-primary{
    color:$bootstrapPrimary;
}
.text-secondary{
    color:$bootstrapSecondary;
}
.text-success{
    color:$bootstrapSuccess;
}
.text-danger{
    color:$bootstrapDanger;
}
.text-warning{
    color:$bootstrapWarning;
}
.text-info{
    color:$bootstrapInfo;
}

.error, .form-error{
    color:$bootstrapDanger;
}