<div class="modal-body">
  <p>Êtes-vous sûr de vouloir supprimer la lecture seule ? Cette action ne doit être destinée qu'à des fins de
    débug.</p>
  <p><b>Veuillez entrer votre mot de passe pour confirmer cette action.</b></p>
  <form role="form" class="form-horizontal">
    <div class="form-group">
      <label class="control-label" for="removeROPassword">Mot de passe *</label>
      <input id="removeROPassword" type="password" class="form-control input-md">
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
  <button type="button" id="btnRemoveRO" onclick="removeRO()" class="btn btn-outline-danger">
    Valider
  </button>
</div>
<script>
  $('input#removeROPassword').on('keydown', function (e) {
    if (e.which === 13) {
      e.preventDefault();
      $('button#btnRemoveRO').prop('disabled', true);
      removeRO();
    }
  });
</script>