@import "../global/colors";

body.layout-subdomain{

	.page-header{
		position:fixed;
		left:0;
		right:0;
		top:0;
		padding:1rem 0;
		background-color:$backgroundColorDark;
		color:$fontColorLight;
		z-index:999;
	}

	@media (max-width: 767px){
		.page-header{
			.push{
				& > div{
					width:100%;

					&:last-child{
						margin-top:1rem;
					}
				}
			}
		}

		.map-container{
			display:none;
		}
	}

}