<div class="text-center mb-5">
  <h1>Merci d'avoir complété votre profil !</h1>
</div>

<p>Nous venons de vous envoyer un e-mail à l'addresse {{ data.identity.email }}, ce qui vous permettra de pouvoir
  accéder à votre espace personnel. </p>
<div class="text-center mt-4">
  <a class="btn btn-primary" href="/login">Me connecter à mon espace</a>
</div>

<script src="/static/assets/dist/js/onboarding_pool_success.min.js"></script>