<div class="text-center mb-5">
  <h1>Merci d'avoir complété votre profil !</h1>
</div>

  <p>Vous pouvez dès à présent vous connecter à votre espace personnel et accéder au pool de remplacement auquel vous
  avez été affilié.</p>

<div class="text-center mt-4">
  <a class="btn btn-primary" href="/login">Me connecter à mon espace</a>
</div>