$backgroundColorDark:#323a45;
$backgroundColorLight:#333333;

$borderColorLight:#e1e1e1;

$fontColorLight:#ffffff;
$fontColorLightFade:#cdcdcd;
$fontColorDark:#323a45;
$fontColorDarkFade:#696969;

$mainColorBlue:#03a9de;
$mainColorGreen:#0ecea4;
$mainColorPink:#e91e63;