<div class="row">

  <div class="col-md-12">
    <div class="card">
      <div class="card-content">
        <div class="toolbar">
          <a title="Add" class="btn btn-default" style="margin-right:10px" onclick="showCategoryModal()"> <i class="fal fa-plus"></i></a>
        </div>

        <table id="categories-table" class="table">
          <thead>
          <th data-field="state" data-checkbox="true"></th>
          <th data-field="id" class="text-center">ID</th>
          <th data-field="name" data-sortable="true">Nom</th>
          <th data-field="actions" class="td-actions text-right" data-events="operateEvents"
              data-formatter="operateFormatter">Actions
          </th>
          </thead>
          <tbody>
          {{#each references as |category|}}
            <tr data-id="{{category.id}}">
              <td></td>
              <td>{{category.id}}</td>
              <td>{{category.name}}</td>
              <td></td>
            </tr>
          {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  let table = $('#categories-table');

  operateFormatter = (value, row, index) => {
    return [
      '<div class="table-icons">',
      '<a title="Edit" class="btn btn-simple btn-warning btn-icon table-action edit" href="javascript:void(0)">',
      '<i class="ti-pencil-alt"></i>',
      '</a>',
      '<a title="Remove" class="btn btn-simple btn-danger btn-icon table-action remove" href="javascript:void(0)">',
      '<i class="ti-close"></i>',
      '</a>',
      '</div>',
    ].join('');
  };
  $(document).ready(() => {
    window.operateEvents = {
      'click .edit': (e, value, row, index) => {
        createModal({
          id: 'editCategoryModal',
          title: 'Modifier une category',
          modal: 'back-office/editCategory'
        }, () => {
          $('button#btnEditCategory').click(function () {
            if ($('input#categoryValueEdit').val() != '') {

              let _csrf = $('meta[name="csrf-token"]').attr('content');
              let promptInput = $('input#categoryValueEdit').val();
              $.put(`/api/back-office/references/categories/${row.id}`, {
                promptInput,
                _csrf
              }, () => {
                let id = $(e.currentTarget).closest('tr').attr('data-id');
                $('#editCategoryModal').modal('hide');
                $(`tr[data-id="${id}"] td`).last().prev().text(promptInput);
                notification({
                  icon: 'check-circle',
                  type: 'success',
                  title: 'Compétence modifiée.',
                  message: ``
                });
              });
            } else {
              if ($('input#categoryValueEdit').val() == '') {
                $('input#categoryValueEdit').addClass('error');
                setTimeout(function () {
                  $('input#categoryValueEdit').removeClass('error');
                }, 750)
              }
            }
          });
        });
      },
      'click .remove': (e, value, row, index) => {
        createModal({
          id: 'removeCategoryModal',
          title: 'Supprimer une compétence',
          modal: 'back-office/removeCategory'
        }, () => {
          let _csrf = $('meta[name="csrf-token"]').attr('content');
          $('button#btnRemoveCategory').click(function () {
            $.delete(`/api/back-office/references/categories/${row.id}`, {
              _csrf
            }, () => {
              table.bootstrapTable('remove', {
                field: 'id',
                values: [row.id]
              });
              notification({
                icon: 'check-circle',
                type: 'success',
                title: 'Compétence supprimée.',
                message: ``
              });
            });
          });
        });
      }
    };

    table.bootstrapTable({
      toolbar: ".toolbar",
      search: true,

      showColumns: true,
      pagination: true,
      searchAlign: 'left',
      pageSize: 25,
      clickToSelect: true,
      pageList: [10, 25, 50, 100, 200, 500],
      formatRecordsPerPage: (pageNumber) => {
        return pageNumber + " rows visible";
      },
      icons: {
        columns: 'fa fa-columns',
        detailOpen: 'fa fa-plus-circle',
        detailClose: 'ti-close'
      }
    });

    //activate the tooltips after the data table is initialized
    $('[rel="tooltip"]').tooltip();

    $(window).resize(() => {
      table.bootstrapTable('resetView');
    });
  });

  let showCategoryModal = () => {
    createModal({
      id: 'addCategoryModal',
      title: 'Ajouter une compétence',
      modal: 'back-office/addCategory'
    }, () => {
      $('button#validateCategory').click(function () {
        if ($('input#categoryValue').val() != '') {
          let _csrf = $('meta[name="csrf-token"]').attr('content');
          let promptInput = $('input#categoryValue').val();
          $.post(`/api/back-office/references/categories/`, {
            promptInput,
            _csrf
          }, (response) => {
            if (response.status === 'Already exists') {
              notification({
                icon: 'exclamation',
                type: 'danger',
                title: 'Cette catégorie existe déjà.',
              });
            } else {
              table.bootstrapTable('insertRow', {
                index: 0,
                row: {
                  id: response.reference.id,
                  name: response.reference.name
                }
              });
              notification({
                icon: 'check-circle',
                type: 'success',
                title: 'Catégorie créée.',
              });
            }
          });
          $('#addCategoryModal').modal('hide');
        } else {
          if ($('input#categoryValue').val() == '') {
            $('input#categoryValue').addClass('error');
            setTimeout(function () {
              $('input#categoryValue').removeClass('error');
            }, 750)
          }
        }
      })
    })
  }
</script>