<div class="row">

  <div class="col-md-12">
    <div class="card">
      <div class="card-content">
        <div class="toolbar">
          <a title="Add" class="btn btn-default" style="margin-right:10px" onclick="
                   createModal({
                       id: 'addQualificationModal',
                       title: 'Ajouter un diplôme',
                       modal: 'back-office/addQualification'
                   }, () => {
                       $('button#validateQualification').click(function () {
                           if ($('input#qualificationValue').val() != '') {
                               let _csrf = $('#csrfToken').val();
                               let promptInput = $('input#qualificationValue').val();
                               $.post(`/api/back-office/qualifications/`, {
                                   promptInput,
                                   _csrf
                               }, (response) => {
                               if (response.status === 'Already exists') {
                                   notification({
                                   icon: 'exclamation',
                                   type: 'danger',
                                   title: 'Ce diplôme existe déjà.',
                                   message: ``
                               });
                           }
                       else {
                           table.bootstrapTable('insertRow', {
                               index: 0,
                               row: {
                                   id: response.qualification.id,
                                   name: response.qualification.name
                               }
                           });
                           notification({
                               icon: 'check-circle',
                               type: 'success',
                               title: ' Diplôme complémentaires créé.',
                               message: ``
                           });
                       }
                   });
                   $('#addQualificationModal').modal('hide');
               }
               else {
                   if ($('input#qualificationValue').val() == '') {
                       $('input#qualificationValue').addClass('error');
                       setTimeout(function() {
                           $('input#qualificationValue').removeClass('error');
                       }, 750)
                   }
               }
           })
       })"> <i class="fal fa-plus"></i></a>
        </div>

        <table id="qualifications-table" class="table">
          <thead>
          <th data-field="state" data-checkbox="true"></th>
          <th data-field="id" class="text-center">ID</th>
          <th data-field="name" data-sortable="true">Nom</th>

          <th data-field="actions" class="td-actions text-right" data-events="operateEvents"
              data-formatter="operateFormatter">Actions</th>
          </thead>
          <tbody>
          {{#each references as |qualifications|}}
            <tr data-id="{{qualifications.id}}">
              <td></td>
              <td>{{qualifications.id}}</td>
              <td>{{qualifications.name}}</td>
              <td></td>
            </tr>
          {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  let table = $('#qualifications-table');

  operateFormatter = (value, row, index) => {
    return [
      '<div class="table-icons">',
      '<a title="Edit" class="btn btn-simple btn-warning btn-icon table-action edit" href="javascript:void(0)">',
      '<i class="ti-pencil-alt"></i>',
      '</a>',
      '<a title="Remove" class="btn btn-simple btn-danger btn-icon table-action remove" href="javascript:void(0)">',
      '<i class="ti-close"></i>',
      '</a>',
      '</div>',
    ].join('');
  };

  $(document).ready(() => {
    window.operateEvents = {
      'click .edit': (e, value, row, index) => {
        createModal({
          id: 'editQualificationModal',
          title: 'Modifier un diplôme complémentaire',
          modal: 'back-office/editQualification'
        }, () => {
          $('button#btnEditQualification').click(function () {
            if ($('input#qualificationValueEdit').val() != '') {
              let _csrf = $('#csrfToken').val();
              let promptInput = $('input#qualificationValueEdit').val();
              $.put(`/api/back-office/references/qualifications/${row.id}`, {
                promptInput,
                _csrf
              }, () => {
                let id = $(e.currentTarget).closest('tr').attr('data-id');
                $('#editQualificationModal').modal('hide');
                $(`tr[data-id="${id}"] td`).last().prev().text(promptInput);
                notification({
                  icon: 'check-circle',
                  type: 'success',
                  title: 'Diplôme modifié.',
                  message: ``
                });
              });
            } else {
              if ($('input#qualificationValueEdit').val() == '') {
                $('input#qualificationValueEdit').addClass('error');
                setTimeout(function () {
                  $('input#qualificationValueEdit').removeClass('error');
                }, 750)
              }
            }
          });
        });
      },
      'click .remove': (e, value, row, index) => {
        createModal({
          id: 'removeQualificationModal',
          title: 'Supprimer un diplôme',
          modal: 'back-office/removeQualification'
        }, () => {
          let _csrf = $('#csrfToken').val();
          $('button#btnRemoveQualification').click(function () {
            $.delete(`/api/back-office/references/qualifications/${row.id}`, {
              _csrf
            }, () => {
              table.bootstrapTable('remove', {
                field: 'id',
                values: [row.id]
              });
              notification({
                icon: 'check-circle',
                type: 'success',
                title: 'Diplôme supprimé.',
                message: ``
              });
            });
          });
        });
      }
    };
    table.bootstrapTable({
      toolbar: ".toolbar",
      search: true,

      showColumns: true,
      pagination: true,
      searchAlign: 'left',
      pageSize: 25,
      clickToSelect: true,
      pageList: [10,25,50,100,200,500],
      formatRecordsPerPage: (pageNumber) => {
        return pageNumber + " rows visible";
      },
      icons: {
        columns: 'fa fa-columns',
        detailOpen: 'fa fa-plus-circle',
        detailClose: 'ti-close'
      }
    });

    //activate the tooltips after the data table is initialized
    $('[rel="tooltip"]').tooltip();

    $(window).resize(() => {
      table.bootstrapTable('resetView');
    });
  });
</script>