<div class="row">

    <div class="col-md-12">
        <div class="card">
            <div class="card-content">
                <div class="toolbar">
                    <a title="Add" class="btn btn-default" style="margin-right:10px" onclick="
                   createModal({
                       id: 'addServiceModal',
                       title: 'Ajouter un service',
                       modal: 'back-office/addService'
                   }, () => {
                       $('button#validateService').click(function () {
                           if ($('input#serviceValue').val() != '') {
                               let _csrf = $('#csrfToken').val();
                               let promptInput = $('input#serviceValue').val();
                               $.post(`/api/back-office/services/`, {
                                   promptInput,
                                   _csrf
                               }, (response) => {
                               if (response.status === 'Already exists') {
                                   notification({
                                   icon: 'exclamation',
                                   type: 'danger',
                                   title: 'Ce service existe déjà.',
                                   message: ``
                               });
                           }
                       else {
                           table.bootstrapTable('insertRow', {
                               index: 0,
                               row: {
                                   id: response.service.id,
                                   name: response.service.name
                               }
                           });
                           notification({
                               icon: 'check-circle',
                               type: 'success',
                               title: 'Service créé.',
                               message: ``
                           });
                       }
                   });
                   $('#addServiceModal').modal('hide');
               }
               else {
                   if ($('input#serviceValue').val() == '') {
                       $('input#serviceValue').addClass('error');
                       setTimeout(function() {
                           $('input#serviceValue').removeClass('error');
                       }, 750)
                   }
               }
           })
       })"> <i class="fal fa-plus"></i></a>
                </div>

                <table id="services-table" class="table">
                    <thead>
                    <th data-field="state" data-checkbox="true"></th>
                    <th data-field="id" class="text-center">ID</th>
                    <th data-field="name" data-sortable="true">Nom</th>

                    <th data-field="actions" class="td-actions text-right" data-events="operateEvents"
                        data-formatter="operateFormatter">Actions</th>
                    </thead>
                    <tbody>
                    {{#each service as |services|}}
                        <tr data-id="{{services.id}}">
                            <td></td>
                            <td>{{services.id}}</td>
                            <td>{{services.name}}</td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    let table = $('#services-table');

    operateFormatter = (value, row, index) => {
        return [
            '<div class="table-icons">',
            '<a title="Edit" class="btn btn-simple btn-warning btn-icon table-action edit" href="javascript:void(0)">',
            '<i class="ti-pencil-alt"></i>',
            '</a>',
            '<a title="Remove" class="btn btn-simple btn-danger btn-icon table-action remove" href="javascript:void(0)">',
            '<i class="ti-close"></i>',
            '</a>',
            '</div>',
        ].join('');
    };

    $(document).ready(() => {
        window.operateEvents = {
            'click .edit': (e, value, row, index) => {
                createModal({
                    id: 'editServiceModal',
                    title: 'Modifier un service',
                    modal: 'back-office/editService'
                }, () => {
                    $('button#btnEditService').click(function () {
                        if ($('input#serviceValueEdit').val() != '') {
                            let _csrf = $('#csrfToken').val();
                            let promptInput = $('input#serviceValueEdit').val();
                            $.put(`/api/back-office/services/${row.id}`, {
                                promptInput,
                                _csrf
                            }, () => {
                                let id = $(e.currentTarget).closest('tr').attr('data-id');
                                $('#editServiceModal').modal('hide');
                                $(`tr[data-id="${id}"] td`).last().prev().text(promptInput);
                                notification({
                                    icon: 'check-circle',
                                    type: 'success',
                                    title: 'Service modifié.',
                                    message: ``
                                });
                            });
                        } else {
                            if ($('input#serviceValueEdit').val() == '') {
                                $('input#serviceValueEdit').addClass('error');
                                setTimeout(function () {
                                    $('input#serviceValueEdit').removeClass('error');
                                }, 750)
                            }
                        }
                    });
                });
            },
            'click .remove': (e, value, row, index) => {
                createModal({
                    id: 'removeServiceModal',
                    title: 'Supprimer un service',
                    modal: 'back-office/removeService'
                }, () => {
                    let _csrf = $('#csrfToken').val();
                    $('button#btnRemoveService').click(function () {
                        $.delete(`/api/back-office/services/${row.id}`, {
                            _csrf
                        }, () => {
                            table.bootstrapTable('remove', {
                                field: 'id',
                                values: [row.id]
                            });
                            notification({
                                icon: 'check-circle',
                                type: 'success',
                                title: 'Service supprimé.',
                                message: ``
                            });
                        });
                    });
                });
            }
        };


        table.bootstrapTable({
            toolbar: ".toolbar",
            search: true,
            showToggle: true,
            showColumns: true,
            pagination: true,
            searchAlign: 'left',
            pageSize: 25,
            clickToSelect: true,
            pageList: [10,25,50,100,200,500],
            formatShowingRows: (pageFrom, pageTo, totalRows) => {
                //do nothing here, we don't want to show the text "showing x of y from..."
            },
            formatRecordsPerPage: (pageNumber) => {
                return pageNumber + " rows visible";
            },
            icons: {
                toggle: 'fa fa-th-list',
                columns: 'fa fa-columns',
                detailOpen: 'fa fa-plus-circle',
                detailClose: 'ti-close'
            }
        });

        //activate the tooltips after the data table is initialized
        $('[rel="tooltip"]').tooltip();

        $(window).resize(() => {
            table.bootstrapTable('resetView');
        });
    });
</script>